<div class="moncon" data-id="<%= training._id %>">
    <div class="monthcont vio">

      <span><%= Russian::l training.start_date, :format => :short %></span>

      <span class="spright">стажировка</span>

      <% if training.image_id.blank? %>
        <%= image_tag "contimg4.png" %>
      <% else %>
        <%= image_tag Image.find(training.image_id).photo.thumb %>
      <% end %>

      <span><%= training.nation %></span>

      <span class="spright"><%= training.start_date.strftime('%H:%M') %></span>

      <span class="spsize"><%= training.title.truncate(16) %></span>

      <div class="clr"></div>

    </div>

<section class="pk_popup train">

  <div class="close_popup"></div>

  <div class="head">

    <h2><%= training.title %> — СТАЖИРОВКА</h2>

    <div class="social">

      <a href="" class="facebook"></a>

      <a href="" class="twitter"></a>

      <a href="" class="vk"></a>

    </div>

    <div class="clr"></div>

  </div>



  <div class="lside">

    <img src="images/trainimg.png" alt="" class="previmg" />

    <div class="catsItem addtocallendar">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ</span>

        <div class="clr"></div>

      </label>

    </div>

  </div>

  <div class="rside">

    <p><%= training.description %></p>


    <!-- <h3>УСЛОВИЯ УЧАСТИЯ:</h3> -->


    <div class="trainleft">

      <div class="trainstatus">

        <div class="nopaid"><%= training.salary_type %></div>

      </div>

      <div class="date_wrap">

        <div class="date"><%= Russian::l training.start_date, :format => :short %></div>

        <div class="time">C <span class="from"><%= training.start_date.strftime('%H:%m') %></span> ДО <span class="to"><%= training.end_date.strftime('%H:%m') %></span></div>

      </div>

      <div class="whoadd">

        <img src="images/ava.png" alt="" />

        <% unless @owner.nil? %>
        <div class="text">

          ДОБАВИЛ:

          <div class="username"><a href=""><%= @owner.name %></a></div>

        </div>
        <% end %>
      </div>



      <div id="map" class="mapwrap">

        <script>

            function google_maps() {

                var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты

                var settings = {

                    zoom: 12, // Выставляем параметры зума для карты

                    center: latlng,

                    mapTypeControl: false,

                    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

                    navigationControl: true,

                    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                };

                var map = new google.maps.Map(document.getElementById("map"), settings); // Выбираем див куда ставить карту

                var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера

                var myOptions = {

                    zoom: 12,  // Выставляем параметры зума для маркера

                    center: myLatlng,

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                }

                var map = new google.maps.Map(document.getElementById("map"), myOptions);  // Выбираем див куда ставить маркер

                var marker = new google.maps.Marker({

                    position: myLatlng,

                    map: map,

                    title: "A"

                });

            }

        </script>

      </div>

    </div>

    <div class="trainright">

      <!-- <div class="takepart">ЗАНЯТОСТЬ: <span class="def">ЧАСТИЧНАЯ</span></div>  -->

      <h3>ПОСЛЕДНИЙ СРОК ПОДАЧИ ЗАЯВОК:</h3>



      <div class="term"><%= Russian::strftime(training.request_date, "%d %B %Y")%></div>

      <a href="<%= training.hyperlink %>"><%= training.hyperlink %></a>



      <div class="address">

      </div>

    </div>

    <div class="clr"></div>



  </div>

  <div class="clr"></div>

</section>
</div>