<div class="moncon" data-id="<%= training._id %>" <%= raw 'style="display:none;"' unless training.visible %>>
    <div class="monthcont vio">

      <span>16 октября 2012</span>

      <span class="spright">стажировка</span>

      <% if training.image_id.blank? %>
        <%= image_tag "contimg4.png" %>
      <% else %>
        <%= image_tag Image.find(training.image_id).photo.thumb %>
      <% end %>

      <span><%# %></span>

      <span class="spright"><%= training.start_date.strftime('%H:%M') %></span>

      <span class="spsize"><%= training.title %></span>

      <div class="clr"></div>

    </div>

<section class="pk_popup train">

  <div class="close_popup"></div>

  <div class="head">

    <h2>НАЗВАНИЕ ПАРАРАМ — СТАЖИРОВКА</h2>

    <div class="social">

      <a href="" class="facebook"></a>

      <a href="" class="twitter"></a>

      <a href="" class="vk"></a>

    </div>

    <div class="clr"></div>

  </div>



  <div class="lside">

    <img src="images/trainimg.png" alt="" class="previmg" />

    <div class="catsItem addtocallendar">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ</span>

        <div class="clr"></div>

      </label>

    </div>

    <!-- <div class="addtocallendar"><label for="">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ <input type="checkbox" /></label></div> -->

  </div>

  <div class="rside">

    <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных высказываний о религии.</p>



    <h3>УСЛОВИЯ УЧАСТИЯ:</h3>



    <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных </p>



    <div class="trainleft">

      <div class="trainstatus">

        <div class="nopaid">НЕОПЛАЧИВАЕМАЯ</div>

      </div>

      <div class="date_wrap">

        <div class="date">16 октября 2012</div>

        <div class="time">C <span class="from">14:00</span> ДО <span class="to">23:00</span></div>

      </div>

      <div class="whoadd">

        <img src="images/ava.png" alt="" />

        <div class="text">

          ДОБАВИЛ:

          <div class="username"><a href="">ПИРОГОВА НАТАЛЬЯ</a></div>

        </div>

      </div>



      <div id="map" class="mapwrap">

        <script>

            function google_maps() {

                var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты

                var settings = {

                    zoom: 12, // Выставляем параметры зума для карты

                    center: latlng,

                    mapTypeControl: false,

                    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

                    navigationControl: true,

                    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                };

                var map = new google.maps.Map(document.getElementById("map"), settings); // Выбираем див куда ставить карту

                var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера

                var myOptions = {

                    zoom: 12,  // Выставляем параметры зума для маркера

                    center: myLatlng,

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                }

                var map = new google.maps.Map(document.getElementById("map"), myOptions);  // Выбираем див куда ставить маркер

                var marker = new google.maps.Marker({

                    position: myLatlng,

                    map: map,

                    title: "A"

                });

            }

        </script>

      </div>

    </div>

    <div class="trainright">

      <div class="takepart">ЗАНЯТОСТЬ: <span class="def">ЧАСТИЧНАЯ</span></div>

      <h3>ПОСЛЕДНИЙ СРОК ПОДАЧИ ЗАЯВОК:</h3>



      <div class="term">25 ИЮЛЯ 2012</div>

      <a href="">www.ssilka.ru</a>



      <div class="address">

        Новая Голландия <br />

        Санкт-Петербург, <br />

        Набережная Адмиралтейского канала, 2  <br />

        "Айрис Новая Голландия":  +7 (812) 456 76 37  <br />

        "Лето в Новой Голландии":  +7 (812) 971 05 10

      </div>

    </div>

    <div class="clr"></div>



  </div>

  <div class="clr"></div>

</section>
</div>