<li class="temp_training templ" data-type="event" data-content="<%= training.id%>" onclick="showtraining('<%= training.id%>');">
	<div class="temp_date"> <%= l training.start_date, :format => :short %></div>
	<div class="temp_type">
		стажировка
	</div>
	<div class="temp_img">
  	<%= image_tag "/assets/Untitled.jpg" %>
	</div>
	<div class="temp_place">
		<%= training.place %>
	</div>
	<div class="temp_name">
		<%= training.title %>
	</div>
</li>