<div class="moncon stazir_hider" data-id="<%= training._id %>" id="<%= training._id %>" data-tags='<%= training.class.name%>'>
  <div class="monthcont vio">
    <span><%= Russian::strftime(training.start_date, "%d %B %Y") %></span>
    <span class="spright">стажировка</span>
    <% if training.image_id.blank? %>
      <%= image_tag "contimg61.png" %>
    <% else %>
      <%= image_tag Image.find(training.image_id).photo.thumb %>
    <% end %>
    <span><%= training.nation %>&nbsp;</span>
    <span class="spright"><%= training.start_date.to_time.strftime('%H:%M') %></span>    
    <span class="spsize"><%= training.title.truncate(16) %></span>
    <div class="clr"></div>
  </div>

  <section class="pk_popup train">
  <div class="close_popup"></div>

  <div class="head">

    <h2><%= training.title %> — СТАЖИРОВКА</h2>

    <div class="social">

      <a  class="facebook" onclick = "facebook($(this))" id="aaaa" ></a>
<a onclick="twitter($(this))" class="twitter" style='margin-left:-7px'> </a>
<a onclick="vkontakte($(this))" class="vk"> </a> 

    </div>

    <div class="clr"></div>

  </div>

  

  <div class="lside">
    <% unless training.image_id.eql?('') %>
      <%= image_tag Image.find(training.image_id).photo.thumb %>
    <%else%>
      <%= image_tag "contimg61.png" %>
    <%end%>

      <div class="catsItem addtocallendar">
        <label>
          
          <span class="descripting"><span class="add_c_text">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ</span>  
           <%if user_signed_in? %>
              <% if UserEvent.where(:user_id => current_user.id, :event_parent_id => training.id).present?%>
                <input type="checkbox" name="" id="<%= training.id%>" class='signature' checked>
              <%else%>
                <input type="checkbox" name="" id="<%= training.id%>" class='signature'>
              <%end%>
            <%end%>
            
          </span>

          <div class="clr"></div>

        </label>

      </div>

    <!-- <div class="addtocallendar"><label for="">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ <input type="checkbox" /></label></div> -->

  </div>

  <div class="rside">

    <p><%= training.description%></p>

    <div class="trainleft">

      <div class="trainstatus">

        <div class="nopaid"><%= training.salary_type%></div>

      </div>

      <div class="date_wrap">

        <div class="date"><%= Russian::strftime(training.start_date, "%d %B %Y")%></div>

        <div class="time"><span style='font-size:18px'>C <%= training.start_date.strftime("%H:%M")%> ДО <%= training.end_date.strftime("%H:%M")%></span></div>

      </div>
        </br>
      <div class="whoadd">
        <% unless training.owner.nil? %>
          <% event_user = User.find(training.owner)%>
          <% if event_user.resume? && event_user.resume.photo? %>
                    <%= image_tag event_user.resume.photo.url(:small) %>
              <% elsif event_user.compinfo? && event_user.compinfo.photo? %>          
                  <%= image_tag event_user.compinfo.photo.url(:small) %>           
              <% else %>
                  <%= image_tag 'nophoto.jpg' %>                
              <% end %>

          <div class="text">

            ДОБАВИЛ:

            <div class="username"><a href="">
              <%if user_signed_in? %>
                <% if event_user.resume%>
                <%= link_to event_user.resume.name + " " + event_user.resume.surname, userevents_user_path(event_user)%>
                <%end%>
                <% if event_user.compinfo %>          
                  <%= link_to event_user.compinfo.name, userevents_user_path(event_user) %>
                <%end%>
              <%else%>
                <% if event_user.resume%>
                <%= link_to event_user.resume.name + " " + event_user.resume.surname, '#'%>
                <%end%>
                <% if event_user.compinfo %>          
                  <%= link_to event_user.compinfo.name, '#'%>
                <%end%>
              <%end%>
            </a></div>
          </div>
        <%end%>
      </div>

      <div id="map<%= training.id%>" class="mapwrap">               

      </div>
      <input type='hidden' value=<%=training.x_coordinate unless training.x_coordinate.nil?%> id='x_coor' >
      <input type='hidden' value=<%=training.y_coordinate unless training.y_coordinate.nil?%> id='y_coor' >       

    </div>

    <div class="trainright">      

      <h3>ПОСЛЕДНИЙ СРОК ПОДАЧИ ЗАЯВОК:</h3>      

      <div class="term"><%= Russian::strftime(training.request_date, "%d %B %Y, %H:%M") %></div>
        
      <a href=""><%= training.hyperlink%></a>



      <div class="address">

        <%= training.nation%> <br />

        <%= training.city%>, <br />

        <%= training.street%>, <%= training.building%>  <br />

        <%= training.place%> <br />        

      </div>        

    </div>

    <div class="clr"></div>   

  </div>

  <div class="clr"></div>

</section>
</div>
