<p id="notice"><%= notice %></p>
<div class="trshow">
  <div class="item_title yellow_letter"> <%= @training.title %> - СТАЖИРОВКА </div>
  <table class="test">
    <tr>
      <td rowspan="2" valign = "top">
        <div class="eventimage"> 
          <% if @training.photo.blank? %>
            <%= image_tag "/assets/Untitled.jpg" %>
          <% else %>
            <%=image_tag @training.photo.url %> 
          <% end %>
        </div>

         <div>
          <%if current_user%>  
            <%if current_user.training_ids.include?(@training.id)%>  
              <p>Я иду</p>
            <% else %>
              <%= link_to "Добавить", add_participant_training_path(@training) %>
            <% end %>
          <% end %>
        </div>
      </td>
      <td colspan="2"> <%= @training.description %> </td>
    </tr>
    <tr>
      <td class="lcolumn2">
        <div> 
          <% @training.salary_type.each do |s| %> 
            <%= s unless s.blank? %>
          <%end%>
        </div>
        <div class="yellow_letter"> C <%= l @training.start_date, :format => :long %> 
        </br>ДО <%= l @training.end_date, :format => :long %>
        </div>
        <div class="user_show"> ДОБАВИЛ <p><%= @owner.name %></p> </div>

        <div class="item-map" data-x="<%= @training.try(:x_coordinate) || "59.93365223894488" %>" data-y="<%= @training.try(:y_coordinate) || "30.300378486327617"%>"> 
          <div id="geo-map-zone">
            <div style="margin-top: 40px; display: none;" class="fs-inner-box h" id="geomap-info"></div>
            <div id="geo-map" data-x="<%= @training.try(:x_coordinate) || "59.93365223894488"%>" data-y="<%= @training.try(:y_coordinate) || "30.300378486327617"%>" ></div> 
        </div>
      </div>
      </td>
      <td class="rcolumn2">
        <div> 
          <% @training.employment.each do |e| %>
            <%= e unless e.blank? %>
          <%end%> 
        </div>
        <div class = "yellow_letter" > ПОСЛЕДНИЙ СРОК ПОДАЧИ ЗАЯВОК: </div>
        <%= l @training.request_date, :format => :long %>
        <div> <%= @training.hyperlink %> </div>
        <div> 
          <%= @training.place %> 
          <%= @training.nation %> 
          <%= @training.city %> 
          <%= @training.street %> 
          <%= @training.building %> 
        </div>
      </td>  
    </tr>
  </table>  

  <% if current_user%>
    <% if current_user.role?(:admin) %>
      <%= link_to 'Edit', edit_training_path(@training) %> |
      <%= link_to 'Back', trainings_path %>
    <% end %>
  <% end %>
  </br>
</div>
