<div id="content">
    <h1>Выбор аватара</h1>
    <%= javascript_include_tag 'jquery.Jcrop.min' %>
    <%= javascript_include_tag 'jquery.color' %>
    <%= javascript_include_tag 'jquery.uniform.min' %>
    <%= javascript_include_tag 'compinfo' %>
    <% unless @compinfo.nil? %>
    <% if @compinfo.photo.url(:large) %>
        <%= image_tag @compinfo.photo.url(:large), id: "cropbox" %>
        <div style="overflow: hidden; width: 100px; height: 100px;">                    
            <%= image_tag @compinfo.photo.url, id: "preview" %>
        </div>
        <div style="overflow: hidden; width: 54px; height: 46px;">                    
            <%= image_tag @compinfo.photo.url, id: "preview2" %>
        </div>
    <% else %>
        <br>        
            <img id="" src = "/assets/nophoto.jpg">  
        <% end %>
        <%= simple_form_for @compinfo do |f| %>

            <div id="compinfo">
                <p style='color:green'>
                    *Файл должен бить не больше 5Mb, формат jpg или jpeg.
                </p>
                <p>
                <%= f.input :photo, :label => "АВАТАР"  %>
                </p>                
            </div>



          <% %w[x y w h].each do |attribute| %>
            <%= f.hidden_field "crop_#{attribute}" %>
          <% end %>
          <div class="actions">
            <%= f.submit "Сохранить" %>
          </div>
        <% end %>
    <% end %>
</div>
