<h1>Listing compinfos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compinfos.each do |compinfo| %>
  <tr>
    <td><%= compinfo.name %></td>
    <td><%= compinfo.description %></td>
    <td><%= link_to 'Show', compinfo %></td>
    <td><%= link_to 'Edit', edit_compinfo_path(compinfo) %></td>
    <td><%= link_to 'Destroy', compinfo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Compinfo', new_compinfo_path %>
