<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "Пароль" %> <i>(Если Вы не хотите менять пароль, оставьте поле пустым)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label "Подтвердить пароль" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label "Текущий пароль" %> <i>(Пароль нужен для подтвреждения Ваших изменений)</i><br />
  <%= f.password_field :current_password %></div>


   <div><%= f.label "Роль" %><br />
  <%= f.select :role, "<option>employer</option><option>employee</option>" %></div>

  <div><%= f.submit "Обновить" %></div>
<% end %>

<h3>Удалить аккаунт?</h3>

<p><%= link_to "Удалить аккаунт", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete %>.</p>

<%= link_to "Назад", :back %>
