
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => true) do |f| %>
  <div id="close" onclick="closeItemPopup()">X</div>
  <%= devise_error_messages! %>

  <div class="reg-inputs">
    <div><%= f.label "E-MAIL" %>
    <%= f.email_field :email, :size => 30 %></div>
    <div class="for_clear"></div>


    <div><%= f.label :ПАРОЛЬ %>
    <%= f.password_field :password, :size => 30 %></div>
    <div class="for_clear"></div>
  

    <div><%= f.label "ПАРОЛЬ ЕЩЕ РАЗ" %>
    <%= f.password_field :password_confirmation, :size => 30 %></div>
    <div class="for_clear"></div>

  </div>
  <div style="visibility: hidden;"><%= f.text_field :role, :value => "employee" %></div>

  <div class="submit"><%= f.submit "ЗАРЕГИСТРИРОВАТЬСЯ" %></div>
<% end %>
