<%if event.class.name.eql?('Grant')%>
  <div class="monthcont bla">
<%elsif event.class.name.eql?('Event')%>
  <div class="monthcont gre">
<%elsif event.class.name.eql?('Training')%>
  <div class="monthcont yel">
<%end%>
  <span><%= event.start_date.strftime("%d %b %y") %></span>

  <span class="spright">
    <%if event.class.name.eql?('Grant')%>
      грант
    <%elsif event.class.name.eql?('Event')%>
      sobutie
    <%elsif event.class.name.eql?('Training')%>
      trening
    <%end%>
  </span>

  <img src="images/contimg4.png" alt="">

  <span><%= event.nation %></span>

  <span class="spright"><%= event.start_date.strftime("%H:%M") %></span>

  <span class="spsize"><%= event.title %></span>

  <%if event.class.name.eql?('Grant')%>
    <%= render 'pk_popup_grant', :event => event, :index => index %>
  <%elsif event.class.name.eql?('Event')%>
    <%= render 'pk_popup_event', :event => event, :index => index %>
  <%elsif event.class.name.eql?('Training')%>
    <%= render 'pk_popup_train', :event => event, :index => index %>
  <%end%>  
</div>
