<section class="pk_popupcd train">

	<div class="close_popup"></div>

	<div class="head">

		<h2><%= event.title %> — СТАЖИРОВКА</h2>

		<div class="social">

			<% if event.fb.present? %>
				<a href="<%= event.fb  %>" class="facebook" target='_blank'></a>
			<%else%>
				<a href="" class="facebook" ></a>
			<%end%>

			<% if event.twitter.present? %>
				<a href="<%= event.twitter %>" class="twitter"></a>
			<%else%>
				<a href="" class="twitter"></a>
			<%end%>

			<% if event.vk.present? %>
				<a href="<%= event.vk  %>" class="vk" target='_blank'></a>
			<%else%>
				<a href="" class="vk" ></a>
			<%end%>	

		</div>

		<div class="clr"></div>

	</div>

	

	<div class="lside">
		<% unless event.image_id.eql?('') %>
			<%= image_tag Image.find(event.image_id).photo.thumb %>
		<%else%>
			<%= image_tag "contimg6.png" %>
		<%end%>

			<div class="catsItem addtocallendar" >
				<label>
					
					<span class="descripting" style='margin: 0 3px !important;'>ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ
						<% if UserEvent.where(:user_id => current_user.id, :event_parent_id => event.id).present?%>
							<input type="checkbox" name="" id="<%= event.id%>" class='signature' checked>
						<%else%>
							<input type="checkbox" name="" id="<%= event.id%>" class='signature'>
						<%end%>
					</span>

					<div class="clr"></div>

				</label>

			</div>

		<!-- <div class="addtocallendar"><label for="">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ <input type="checkbox" /></label></div> -->

	</div>

	<div class="rside">

		<p><%= event.description%></p>

		<div class="trainleft">

			<div class="trainstatus">

				<div class="nopaid"><%= event.salary_type%></div>

			</div>

			<div class="date_wrap">

				<div class="date"><%= event.start_date.strftime("%d %B %Y")%></div>

				<div class="time"><span style='font-size:18px'>C <%= event.start_date.strftime("%H:%M")%> ДО <%= event.end_date.strftime("%H:%M")%></span></div>

			</div>
				</br>
			<div class="whoadd">
				<% unless event.owner.nil? %>
					<% event_user = User.find(event.owner)%>
					<% if event_user.resume? && event_user.resume.photo? %>
		                <%= image_tag event_user.resume.photo.url(:thumb) %>
			        <% elsif event_user.compinfo? && event_user.compinfo.photo? %>          
			            <%= image_tag event_user.compinfo.photo.url(:thumb) %>           
			        <% else %>
			            <%= image_tag 'ava.png' %>	              
			        <% end %>

					<div class="text">

						ДОБАВИЛ:

						<div class="username"><a href="">
							
							<% if event_user.resume%>
							<%= link_to event_user.resume.name + " " + event_user.resume.surname, userevents_user_path(event_user)%>
							<%end%>
							<% if event_user.compinfo %>					
								<%= link_to event_user.compinfo.name, userevents_user_path(event_user) %>
							<%end%>
						</a></div>
					</div>
				<%end%>
			</div>

			<div id="map<%= index%>" class="mapwrap">								

			</div>
			<input type='hidden' value=<%=event.x_coordinate unless event.x_coordinate.nil?%> id='x_coor' >
			<input type='hidden' value=<%=event.y_coordinate unless event.y_coordinate.nil?%> id='y_coor' >				

		</div>

		<div class="trainright">

			<div class="takepart"> <span class="def"> ЗАНЯТОСТЬ:</span><%= event.employment%></div>

			<h3>ПОСЛЕДНИЙ СРОК ПОДАЧИ ЗАЯВОК:</h3>	 		

			<div class="term"><%= event.end_date.strftime("%d-%m-%Y, %H:%M")%></div>

			<a href=""><%= event.hyperlink%></a>



			<div class="address">

				<%= event.nation%> <br />

				<%= event.city%>, <br />

				<%= event.street%>, <%= event.building%>  <br />

				<%= event.place%> <br />				

			</div>				

		</div>

		<div class="clr"></div>		

	</div>

	<div class="clr"></div>

</section>