<section class="pk_popup grant">
	<div class="close_popup"></div>
	<div class="head">
		<h2><%= event.title %> — ГРАНТ</h2>
		<div class="social">
			<a href="" class="facebook"></a>
			<a href="" class="twitter"></a>
			<a href="" class="vk"></a>
		</div>
		<div class="clr"></div>
	</div>
	<div class="lside">
		<img src="images/previmg.png" alt="" class="previmg" />
		<div class="catsItem addtocallendar">
			<label>
				<% if UserEvent.where(:user_id => current_user.id, :event_parent_id => event.id).present?%>
					<input type="checkbox" name="" id="<%= event.id%>" class='signature' checked>
				<%else%>
					<input type="checkbox" name="" id="<%= event.id%>" class='signature'>
				<%end%>
				<span class="descripting">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ</span>
				<div class="clr"></div>
			</label>
		</div>
		<div class="date_wrap">
			<div class="date"><%= event.start_date.strftime("%d %B %Y") %></div>
			<div class="time">C <span class="from"><%= event.start_date.strftime("%d-%m-%Y, %H:%M")%></span> ДО <span class="to">nemaje</span></div>
		</div>
		<div class="whoadd">
			<img src="images/ava.png" alt="" />
			<div class="text">
				ДОБАВИЛ:
				<div class="username"><a href="">
					<% event_user = User.find(event.owner)%>
					<%= event_user.resume.name + " " + event_user.resume.surname if event_user.resume %> 
					<%= event_user.compinfo.name if event_user.compinfo  %>
				</a></div>
			</div>
		</div>
		<div class="address">
			Новая Голландия <br />
			Санкт-Петербург, <br />
			Набережная Адмиралтейского канала, 2  <br />
			"Айрис Новая Голландия":  +7 (812) 456 76 37  <br />
			"Лето в Новой Голландии":  +7 (812) 971 05 10
		</div>
	</div>
	<div class="rside">
		<p><%= event.description %></p>
		<h3>УСЛОВИЯ УЧАСТИЯ:</h3>
		<p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных </p>
		<h3>СРОК ПОДАЧИ ЗАЯВОК:</h3>
		<div class="term">25 ИЮЛЯ 2012</div>
		<a href=""><%= event.hyperlink%></a>
		<div id="map111" class="mapwrap">
			<script>
				function google_maps111() {

				 var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты

					var settings = {

						zoom: 12, // Выставляем параметры зума для карты

						center: latlng,

						mapTypeControl: false,

						mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

						navigationControl: true,

						navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

						mapTypeId: google.maps.MapTypeId.ROADMAP

					};

					var map = new google.maps.Map(document.getElementById("map111"), settings); // Выбираем див куда ставить карту

					var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера

					var myOptions = {

						zoom: 12,  // Выставляем параметры зума для маркера

						center: myLatlng,

						mapTypeId: google.maps.MapTypeId.ROADMAP

					}  

					var map = new google.maps.Map(document.getElementById("map111"), myOptions);  // Выбираем див куда ставить маркер

					var marker = new google.maps.Marker({

					position: myLatlng,

					map: map,

					title: "A"

				  }); 

				}

			</script>
		</div>
	</div>
	<div class="clr"></div>
</section>
