<section class="pk_popupcd train">

	<div class="close_popup"></div>

	<div class="head">

		<h2><%= event.title %> — СТАЖИРОВКА</h2>

		<div class="social">

			<a  class="facebook" onclick = "facebook($(this))" id="aaaa" ></a>
			<a onclick="twitter($(this))" class="twitter" style='margin-left:-7px'> </a>
			<a onclick="vkontakte($(this))" class="vk"> </a> 

		</div>

		<div class="clr"></div>

	</div>

	

	<div class="lside">
		<% unless event.image_id.eql?('') %>
			<%= image_tag Image.find(event.image_id).photo.thumb %>
		<%else%>
			<%= image_tag "contimg61.png" %>
		<%end%>

			<div class="catsItem addtocallendar" >
				<label>
					
					<span class="descripting" style='margin: 0 3px !important;'>ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ
						<% if UserEvent.where(:user_id => current_user.id, :event_parent_id => event.id).present?%>
							<input type="checkbox" name="" id="<%= event.id%>" class='signature' checked>
						<%else%>
							<input type="checkbox" name="" id="<%= event.id%>" class='signature'>
						<%end%>
					</span>

					<div class="clr"></div>

				</label>

			</div>

		<!-- <div class="addtocallendar"><label for="">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ <input type="checkbox" /></label></div> -->

	</div>

	<div class="rside">

		<p><%= event.description%></p>

		<div class="trainleft">

			<div class="trainstatus">

				<div class="nopaid"><%= event.salary_type%></div>

			</div>

			<div class="date_wrap">

				<div class="date"><%= Russian::strftime(event.start_date, "%d %B %Y") %></div>

				<div class="time"><span style='font-size:18px'>C <%= event.start_date.strftime("%H:%M")%> ДО <%= event.end_date.strftime("%H:%M")%></span></div>

			</div>
				</br>
			<div class="whoadd">
				<% unless event.owner.nil? %>
					<% event_user = User.find(event.owner)%>
					<% if event_user.resume? && event_user.resume.photo? %>
		                <%= image_tag event_user.resume.photo.url(:small) %>
			        <% elsif event_user.compinfo? && event_user.compinfo.photo? %>          
			            <%= image_tag event_user.compinfo.photo.url(:small) %>           
			        <% else %>
			            <%= image_tag 'nophoto.jpg' %>	              
			        <% end %>

					<div class="text">

						ДОБАВИЛ:

						<div class="username"><a href="">
							
							<% if event_user.resume%>
								<% if event_user.resume.name.present? or event_user.resume.surname.present?%>
									<%= link_to event_user.resume.name + " " + event_user.resume.surname, userevents_user_path(event_user)%>
								<% else %>
				                    <%= link_to event_user.email, userevents_user_path(event_user)%>
				                <% end %>
							<%end%>
							<% if event_user.compinfo %>
								<%if event_user.compinfo.name.present? %> 					
									<%= link_to event_user.compinfo.name, userevents_user_path(event_user) %>
								<% else %>
				                    <%= link_to event_user.email, userevents_user_path(event_user) %>
				                <% end %>
							<%end%>
						</a></div>
					</div>
				<%else%>
					<div class="text">
			            ДОБАВИЛ:
			            <div class="username"><a href="">
			              Added by Unregisterd user
			            </a></div>
			        </div>
				<%end%>
			</div>

			<div id="map<%= index%>" class="mapwrap">

			</div>
			<input type='hidden' value=<%=event.x_coordinate unless event.x_coordinate.nil?%> id='x_coor' >
			<input type='hidden' value=<%=event.y_coordinate unless event.y_coordinate.nil?%> id='y_coor' >				

		</div>

		<div class="trainright">

			<div id="socimgs">
        <% if event.timepad.present? %>
          <div class="inlblck marg1 fr">
            <%= link_to image_tag("/assets/ltp.png"), event.timepad, :target => '_blank' %>
          </div>
        <% end %>
        <% if event.lookatme.present? %>
          <div class="inlblck fr marg1">
            <%= link_to image_tag("/assets/llookatme.jpg"), event.lookatme, :target => '_blank' %>
          </div>
        <% end %>
        <% if event.cityspb.present? %>
          <div class="inlblck fr marg1">
            <%= link_to image_tag("/assets/lcityspb.jpg"), event.cityspb, :target => '_blank' %>
          </div>
        <% end %>
        <% if event.afisha.present? %>
          <div class="inlblck fr marg1">
            <%= link_to image_tag("/assets/lafisha.jpg"), event.afisha, :target => '_blank' %>
          </div>
        <% end %>
        <% if event.vk.present? %>
          <div class="inlblck fr marg1">
            <%= link_to image_tag("/assets/lvk.png"), event.vk, :target => '_blank' %>
          </div>
        <% end %>
        <% if event.fb.present? %>
          <div class="inlblck fr marg1">
            <%= link_to image_tag("/assets/lfb.png"), event.fb, :target => '_blank' %>
          </div>
        <% end %>
        <% if event.twitter.present? %>
          <div class="inlblck fr marg1">
            <%= link_to image_tag("/assets/ltwitter.png"), event.twitter, :target => '_blank' %>
          </div>
        <% end %>
        <div class="clr"></div>
    </div>
    <br/>

			<h3>ПОСЛЕДНИЙ СРОК ПОДАЧИ ЗАЯВОК:</h3>	 		

			<div class="term"><%= Russian::strftime(event.request_date, "%d %B %Y, %H:%M") %></div>

			<a href=""><%= event.hyperlink%></a>



			<div class="address">

				<%= event.nation%> <br />

				<%= event.city%>, <br />

				<%= event.street%>, <%= event.building%>  <br />

				<%= event.place%> <br />				

			</div>				

		</div>

		<div class="clr"></div>		

	</div>

	<div class="clr"></div>

</section>