<label>ФАМИЛИЯ</label><div class = "dv "><%= @resume.surname %></div>
	
	<label>ИМЯ</label><div class = "dv "><%= @resume.name %></div>
	
	<label>ПОЛ</label><div class = "dv "><%= @resume.gender %></div>
	
	<label>ДАТА РОЖДЕНИЯ</label><div class = "dv "><%= @resume.birthday %></div>
	
	<label>ГОРОД</label><div class = "dv "><%= @resume.home %></div>
	<!-- 
		<label>x</label><div class = "dv "><%= @resume.crop_x %></div>
		<label>y</label><div class = "dv "><%= @resume.crop_y %></div>
		<label>height</label><div class = "dv "><%= @resume.crop_h %></div>
		<label>width</label><div class = "dv "><%= @resume.crop_w %></div>
		<label></label><div class = "dv "><%= image_tag @resume.photo.url(:thumb) if @resume.photo?%></div>
	-->
	<div class="line"></div>
	<label>ОБРАЗОВАНИЕ</label><div class = "dv "><%= @resume.education %></div>
	
	<label class = "edu">ВУЗ</label><div class = "dv edu"><%= @resume.university %></div>
	
	<label class = "edu">ФАКУЛЬТЕТ</label><div class = "dv edu"><%= @resume.faculty %></div>
	
	<label class = "edu">ДАТА ОКОНЧАНИЯ</label><div class = "dv edu"><%= @resume.experation %></div>
	<div class="line"></div>
	<label>ОПИСАНИЕ СЕБЯ</label><div class = "dv "><%= @resume.description %></div>
	<div class="line"></div>
	<label class="email">ПОДПИСКА НА РАССЫЛКУ ПО ИНТЕРЕСУЮЩИМ МЕНЯ СФЕРАМ</label>
	
		<%if @resume.delivery_email_enable %>
			<div class="active"></div>
		<% else %>
			<div class="inact"></div>
		<% end %>

	<div class="for_new_line"></div>
	<!--
		<label class="email-show">E-MAIL</label><div class = "dv show"><%= @resume.delivery_email %></div>
	-->
	<div class="line"></div>
	<label class="sms">ПОДПИСКА НА SMS-РАССЫЛКУ</label>

		<%if @resume.delivery_phone_enable %>
			<div class="active"></div>
		<% else %>
			<div class="inact"></div>
		<% end %>
	
	<div class="for_new_line"></div>
	<label class="phone-show">ВАШ МОБИЛЬНЫЙ ТЕЛЕФОН</label><div class = "dv show"><%= @resume.delivery_phone %></div>
	<div class="line"></div>

	<%= link_to "РЕДАКТИРОВАТЬ", edit_resume_path(@resume) %>