<div id="content">

  <div class="persinalInformation">
    <script type="text/javascript" src="js/jquery.jqtransform.js"></script>
    <script language="javascript">
        $(function(){
            $('.inputsOnPI, .fjqtrans, .catsItem, .pchecks').jqTransform();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".pi").hover(function () {
                var thisIndex = $(this).index();
                if (thisIndex < 2) {
                    $(this).stop().animate({
                        "width":"100%"
                    },200);
                }  else if(thisIndex > 8){
                    $(this).prev().css({"borderWidth":"0"});
                    $(this).css({"borderWidth":"1px 0 1px 0"});
                    $(this).stop().animate({
                        "width":"100%"
                    },200);
                } else{
                    $(this).prev().css({"borderWidth":"0px"});
                    $(this).css({"borderWidth":"1px 0 1px 0"});
                    $(this).stop().animate({
                        "width":"100%"
                    },200);
                };
            }, function () {
                var thisIndex = $(this).index();
                if (thisIndex < 2) {
                    $(this).stop().animate({
                        "width":"610px"
                    },200);
                } else if(thisIndex > 8){
                    $(this).prev().css({"borderWidth":"0 0 1px 0"});
                    $(this).css({"borderWidth":"0px"});
                    $(this).stop().animate({
                        "width":"610px"
                    },200);

                } else {
                    $(this).prev().css({"borderWidth":"0px 0 1px 0"});
                    $(this).css({"borderWidth":"0px 0 1px 0"});
                    $(this).stop().animate({
                        "width":"610px"
                    },200);
                };
            });




            $(".persinalInformation .pi").each(function () {
                var a = $(this).outerHeight();
                var b = a/2 - 9;
                var b = b.toFixed();
                $(this).children("button").css({"top":b+"px"});

            });
        });
    </script>
    <% unless @user.resume.nil? %>
        <div class="pi">
          <%= link_to 'РЕДАКТИРОВАТЬ', edit_resume_path(current_user.id) %>
          <p class="greenUpper fll">Имя:</p>
          <p class="blackLower flr"><%= @user.resume.name %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Фамилия:</p>
          <p class="blackLower flr"><%= @user.resume.surname %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Пол:</p>
          <p class="blackLower flr"><%= @user.resume.gender %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Дата рождения:</p>
          <p class="blackLower flr"><%= @user.resume.birthday %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Место жительства:</p>
          <p class="blackLower flr"><%= @user.resume.home %></p>
          <div class="clr"></div>
        </div>
        <div class="pi">
          <%= link_to 'РЕДАКТИРОВАТЬ', edit_resume_path(current_user.id) %>
          <p class="greenUpper fll">Образование:</p>
          <p class="blackLower flr"><%= @user.resume.education %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">вуз:</p>
          <p class="blackLower flr"><%= @user.resume.university %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">факультет:</p>
          <p class="blackLower flr"><%= @user.resume.faculty %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Дата окончания:</p>
          <p class="blackLower flr"><%= @user.resume.experation %></p>
          <div class="clr"></div>
        </div>        
        <div class="pi">          
          <%= link_to 'РЕДАКТИРОВАТЬ', edit_resume_path(current_user.id) %>
          <% @experiences = @user.resume.experience_works%>
          <% @experiences.each do |experience|%>
            <p class="blackLower flr mf"><span class="greenLower">с</span> <%= experience.experience_from %> <span class="greenLower">по</span> <%= experience.experience_to %></p>
            <div class="clr"></div>
            <p class="blackLower flr mf"><%= experience.experience_company %></p>
            <div class="clr"></div>
            <p class="greenUpper fll wl2">Должность:</p>
            <p class="blackLower flr"><%= experience.experience_position %></p>          
            <div class="clr"></div>
          <%end%>
        </div>
        <div class="pi">
          <%= link_to 'РЕДАКТИРОВАТЬ', edit_resume_path(current_user.id) %>
          <p class="greenUpper fll">Описание себя:</p>
          <p class="blackLower flr"><%= @user.resume.description %></p>
          <div class="clr"></div>
        </div>
        <div class="pi">
          <%= link_to 'РЕДАКТИРОВАТЬ', edit_resume_path(current_user.id) %>
          <p class="greenUpper fll wf">Подписатся на рассылку по интересующим меня сферам:</p>
          <div class="inputsOnPI"><input type="checkbox" name="" id="" checked="<%= @user.resume.delivery_email_enable ? 'checked' : '' %>"></div>
          <div class="clr"></div>
          <p class="greenUpper fll ml">e-mail</p>
          <p class="blackLower flr"><%= @user.resume.delivery_email %></p>
          <div class="clr"></div>
        </div>
        <div class="pi">
          <%= link_to 'РЕДАКТИРОВАТЬ', edit_resume_path(current_user.id) %>
          <p class="greenUpper fll wf">Подписатся на sms-рассылку:</p>
          <div class="inputsOnPI"><input type="checkbox" name="" id="" checked="<%= @user.resume.delivery_phone_enable ? 'checked' : '' %>"></div>
          <div class="clr"></div>
          <p class="greenUpper fll wl1">ваш мобильный телефон</p>
          <p class="blackLower flr"><%= @user.resume.delivery_phone %></p>
          <div class="clr"></div>
        </div>
    <%else%>
        <div class="pi">
          <%= link_to 'РЕДАКТИРОВАТЬ', edit_compinfo_path(current_user.id) %>
          <p class="greenUpper fll">Имя:</p>
          <p class="blackLower flr"><%= @user.compinfo.name %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Город:</p>
          <p class="blackLower flr"><%= @user.compinfo.city %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Улица:</p>
          <p class="blackLower flr"><%= @user.compinfo.street %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Номер дома:</p>
          <p class="blackLower flr"><%= @user.compinfo.building %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Информация:</p>
          <p class="blackLower flr"><%= @user.compinfo.info %></p>
          <div class="clr"></div>
          <p class="greenUpper fll">Сайт компании:</p>
          <p class="blackLower flr"><%= @user.compinfo.hyperlink %></p>
          <div class="clr"></div>
        </div>
    <%end%>
  </div>
  <div class="clr"></div>
</div>