<%= form_for @user ||= User.new, :url => user_registration_path, :validate => true, :html=>{:id=>'new_corp'} do |f| %>
    <div id='error_compinfo'></div>
    <span>НАЗВАНИЕ КАМПАНИИ</span>
    <span>ЛОГОТИП</span><img src="images/formlogobg.png" class="yourlogo" alt="">
    <div class="clr"></div>
    <%= f.fields_for @user.compinfo ||= Compinfo.new do |comp| %>
        <span>ГОРОД</span><%= comp.text_field :city %>
        <span>УЛИЦА</span><%= comp.text_field :street %>
        <span>ДОМ</span><%= comp.text_field :building %>
        <span class="spanmin">КОНТАКТНАЯ  ИФНОМРАЦИЯ</span><%= comp.text_field :info %>
        <span>ССЫЛКА НА САЙТ</span><%= comp.text_field :hyperlink %>
    <% end %>
    <span>E-MAIL</span><%= f.text_field :email, :id=>'corp_email' %>
    <br>
    <br>
    <br>
    <%= f.fields_for @user.role ||= Role.new do |role| %>
        <%= role.hidden_field :name, :value=>'employer' %>
    <% end %>
    <span>ПАРОЛЬ</span><%= f.password_field :password, :id=>'corp_password' %>
    <span>ПАРОЛЬ ЕЩЕ РАЗ</span><%= f.password_field :password_confirmation, :id=>'corp_password_confirmation' %>
    <%= f.submit "ЗАРЕГИСТРИРОВАТЬСЯ", :class=>"submitbtn_compinfo"  %>
<% end %>
</div>
<div class="cont">
  <%= form_for @user||=User.new, :url => user_registration_path, :id=>'new_user', :validate=>true do |f| %>
      <div id='error_info'></div>
      <div class="regtype">
        регистрация через <%= link_to user_omniauth_authorize_path(:facebook) do %>
            <img src="images/facebook2.png" alt="" />
        <% end %>
        <%= link_to user_omniauth_authorize_path(:vkontakte) do %>
            <img src="images/vkontakte.png" alt="" />
        <% end %>
      </div>
      <%= f.fields_for @user.resume ||= Resume.new do |res| %>
          <span>ИМЯ</span><%= res.text_field :name %>
          <span>ФАМИЛИЯ</span><%= res.text_field :surname %>
          <span>ГОРОД</span><%= res.text_field :home %>
      <% end %>
      <span>E-MAIL</span><%= f.text_field :email, :id=>'email_user' %>
      <span>ПАРОЛЬ</span><%= f.password_field :password, :id=>'password_user' %>
      <span>ПАРОЛЬ ЕЩЕ РАЗ</span><%= f.password_field :password_confirmation %>
      <%= f.fields_for @user.role ||= Role.new do |role| %>
          <%= role.hidden_field :name, :value=>'employee' %>
      <% end %>
      <%= f.submit "ЗАРЕГИСТРИРОВАТЬСЯ", :class=>"submitbtn" %>
  <% end %>
<script language="JavaScript">
  valid_create_user($('#new_user'));
  valid_create_user($('#new_corp'));

  function valid_create_user(form){
    form.on('submit', function(e){
      e.preventDefault();
      var user = form.serialize();
        $.ajax({ url: "/valid",   type: "GET", data: user,  beforeSend:function(jqXHR, settings) {
                  jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                  }
        }).done(function(result){
            if(result.length > 1000){
              window.location = window.location;
            }
          });
    });
  }
</script>