<%= form_for @user ||= User.new, :url => user_registration_path, :validate => true, :html => {:id => 'new_corp'} do |f| %>
    <div id='error_compinfo'></div>
    <div class="clr"></div>
    <%= f.fields_for @user.compinfo ||= Compinfo.new do |comp| %>
        <span class='somename'>НАЗВАНИЕ КАМПАНИИ</span><%= comp.text_field :name, :class => "reginp"%>
        <span class='somename'>ЛОГОТИП</span><%= image_tag 'formlogobg.png', class:"yourlogo"%>
        <%= comp.file_field :photo, :style => 'display:none'%>
        <div class="clr"></div>
        <span class='somename'>ГОРОД</span><%= comp.text_field :city, :class => "reginp" %>
        <span class='somename'>УЛИЦА</span><%= comp.text_field :street, :class => "reginp" %>
        <span class='somename'>ДОМ</span><%= comp.text_field :building, :class => "reginp" %>
        <span class="spanmin somename">КОНТАКТНАЯ  ИНФОМРАЦИЯ</span><%= comp.text_field :info, :class => "reginp" %>
        <span class='somename'>ССЫЛКА НА САЙТ</span><%= comp.text_field :hyperlink, :class => "reginp" %>
    <% end %>
    <span class='somename'>E-MAIL </span><%= f.text_field :email, :id => 'corp_email', :class => "reginp" %> <span class="error reger"></span>
    <%= f.fields_for @user.role ||= Role.new do |role| %>
        <%= role.hidden_field :name, :value => 'employer' %>
    <% end %>
    <span class='somename'>ПАРОЛЬ </span><%= f.password_field :password, :id => 'corp_password', :class => "reginp" %> <span class="error reger"></span>
    <span class='somename'>ПАРОЛЬ ЕЩЕ РАЗ </span><%= f.password_field :password_confirmation, :id => 'corp_password_confirmation', :class => "reginp" %> <span class="error reger"></span>
    <%= f.submit "ЗАРЕГИСТРИРОВАТЬСЯ", :class => "submitbtn marginfix" %>
<% end %>
</div>
<div class="cont">
  <%= form_for @user||=User.new, :url => user_registration_path, :validate => true, :html => {:id => 'new_user'}  do |f| %>
      <div id='error_info'></div>
      <div class="regtype">
        регистрация через <%= link_to user_omniauth_authorize_path(:facebook) do %>
            <img src="images/facebook2.png" alt=""/>
        <% end %>
        <%= link_to user_omniauth_authorize_path(:vkontakte) do %>
            <img src="images/vkontakte.png" alt=""/>
        <% end %>
      </div>
      <%= f.fields_for @user.resume ||= Resume.new do |res| %>
          <span class='somename'>ИМЯ</span><%= res.text_field :name, :class => "reginp" %>
          <span class='somename'>ФАМИЛИЯ</span><%= res.text_field :surname, :class => "reginp" %>
          <span class='somename'>ГОРОД</span><%= res.text_field :home, :class => "reginp" %>
      <% end %>
      <span class='somename'>E-MAIL </span><%= f.text_field :email, :id => 'email_user', :class => "reginp" %> <span class="error reger"></span>     
      <span class='somename'>ПАРОЛЬ </span><%= f.password_field :password, :id => 'password_user', :class => "reginp" %> <span class="error reger"></span>
      <span class='somename'>ПАРОЛЬ ЕЩЕ РАЗ </span><%= f.password_field :password_confirmation, :class => "reginp" %> <span class="error reger"></span>
      <%= f.fields_for @user.role ||= Role.new do |role| %>
          <%= role.hidden_field :name, :value => 'employee' %>
      <% end %>
      <%= f.submit "ЗАРЕГИСТРИРОВАТЬСЯ", :class => "submitbtn" %>
  <% end %>
  <script language="JavaScript">
      valid_create_user($('#new_user'));
      valid_create_user($('#new_corp'));

      function valid_create_user(form) {
          form.on('submit', function (e) {
              e.preventDefault();
              var user = form.serialize();
              $.ajax({
                  url:"/valid",
                  type: "POST",
                  data: user,
                  dataType: 'json',
                  beforeSend:function (jqXHR, settings) {
                      jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                  }
              }).done(function (result) {
                      if(result.email){
                          for(var message in result.email)
                            if(!/can\'t/.test(result.email[message])){
                                form.children('#email_user, #corp_email').next('.error').html(result.email[message]).fadeIn();
                            }
                      }
                      else
                          $('#email_user').next('.error').fadeOut(function(){$(this).empty();});

                      if(result.password) {
                              for(var message in result.password)
                                  if(!/can\'t/.test(result.password[message])){
                                      form.children('#password_user, #corp_password').next('.error').html(result.password[message]).fadeIn();
                                  }
                      }
                      else
                          form.children('#password_user, #corp_password').next('.error').fadeOut(function(){$(this).empty();});
                      if(result.success)
                        window.location = result.path;

              });

          });
      }

  $('img.yourlogo').click(function(){
      $(this).next().trigger('click');
  });

  $('#user_compinfo_photo').fileupload({
      url: '/valid',
      dataType: 'json',
      done: function (e, data) {
        $('img.yourlogo').attr('src', data.result.url);
      }
  });
  </script>
  
