<li class="temp_event templ" data-type="event" data-kind="<%= event.kind%>" data-content="<%= event.id%>">
	<div class="temp_date"> <%= l event.start_date, :format => :short %></div>
	<div class="temp_type">
		событие
	</div>
	<div class="temp_img">
    <% if event.photo.blank? %>
      <%= image_tag "/assets/Untitled2.jpg" %>
    <% else %>
      <%= image_tag event.photo.url %>
    <% end %>
	</div>
	<div class="temp_place">
		<%= event.place %>
	</div>
	<div class="temp_name">
		<%= event.title %>
	</div>
</li>