<div class="moncon" data-id="<%= event._id %>">
  <div class="monthcont gre">
    <span><%= Russian::l event.start_date, :format => :short %></span>
    <span class="spright">Событие</span>
    <% if event.image_id.blank? %>
        <%= image_tag "contimg5.png" %>
    <% else %>
        <%= image_tag Image.find(event.image_id).photo.thumb %>
    <% end %>
    <span><%= event.nation %></span>
    <span class="spright"><%= event.start_date.strftime('%H:%m') %></span>
    <span class="spsize"><%= event.title.truncate(16) %></span>
    <div class="clr"></div>
  </div>
  <section class="pk_popup event">
  <div class="close_popup"></div>

  <div class="head">

    <h2><%= event.title %> — СОБЫТИЕ</h2>

    <div class="social">

     <a  class="facebook" onclick = "facebook($(this))" id="aaaa" ></a>
<a onclick="twitter($(this))" class="twitter"> </a>
<a onclick="vkontakte($(this))" class="vk"> </a> 

    </div>

    <div class="clr"></div>

  </div>  

  <div class="lside">
    <% unless event.image_id.eql?('') %>
      <%= image_tag Image.find(event.image_id).photo.thumb %>
    <%else%>
      <%= image_tag "contimg5.png" %>
    <%end%>

    <div class="catsItem addtocallendar" style='position: relative'>

      <label>
        <span class="descripting" style='margin: 0 3px !important;'>ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ
          <%if user_signed_in? %>
            <% if UserEvent.where(:user_id => current_user.id, :event_parent_id => event.id).present?%>
              <input type="checkbox" name="" id="<%= event.id%>" class='signature' checked>
            <%else%>
              <input type="checkbox" name="" id="<%= event.id%>" class='signature'>
            <%end%>
          <%end%>
        </span>               

        <div class="clr"></div>

      </label>

    </div>

    <div class="date_wrap">

      <div class="date"><%= event.start_date.strftime("%d %B %Y") %></div>

      <div class="time"><span style='font-size:18px'>C <%= event.start_date.strftime("%H:%M")%> ДО <%= event.end_date.strftime("%H:%M")%></span></div>

    </div>
      </br>
    <div class="whoadd">
      <% unless event.owner.nil? %>
        <% event_user = User.find(event.owner)%>
        <% if event_user.resume? && event_user.resume.photo? %>
                  <%= image_tag event_user.resume.photo.url(:thumb) %>
            <% elsif event_user.compinfo? && event_user.compinfo.photo? %>          
                <%= image_tag event_user.compinfo.photo.url(:thumb) %>           
            <% else %>
                <%= image_tag 'ava.png' %>                
            <% end %>

        <div class="text">

          ДОБАВИЛ:

          <div class="username"><a href="">
            <%if user_signed_in? %>  
              <% if event_user.resume%>
                <%= link_to event_user.resume.name + " " + event_user.resume.surname, userevents_user_path(event_user)%>
              <%end%>
              <% if event_user.compinfo %>          
                <%= link_to event_user.compinfo.name, userevents_user_path(event_user) %>
              <%end%>
            <%else%> 
              <% if event_user.resume%>
                <%= link_to event_user.resume.name + " " + event_user.resume.surname, '#'%>
              <%end%>
              <% if event_user.compinfo %>          
                <%= link_to event_user.compinfo.name, '#'%>
              <%end%> 
            <%end%>
          </a></div>

        </div>
      <%end%>
    </div>

    <div class="address">

      <%= event.nation%> <br />

      <%= event.city%>, <br />

      <%= event.street%>, <%= event.building%>  <br />

      <%= event.place%>
      
    </div>

  </div>

  <div class="rside">
      <%= event.description%>   

      <h3>ПОСЛЕДНИЙ СРОК РЕГИСТРАЦИИ:</h3>    

      <div class="term"><%= event.request_date.strftime("%d-%m-%Y, %H:%M")%></div>

      <a href=""><%= event.hyperlink%></a>

      
      <div id="map<%= event.id%>" class="mapwrap">

      </div>
      <input type='hidden' value=<%=event.x_coordinate unless event.x_coordinate.nil?%> id='x_coor' >
      <input type='hidden' value=<%=event.y_coordinate unless event.y_coordinate.nil?%> id='y_coor' >

    </div>

    <div class="clr"></div>

  </section>
</div>

