<li class="temp_event templ" data-type="event" data-kind="<%= event.kind%>" data-content="<%= event.id%>"onclick="showevent('<%=event.id%>');">
	<div class="temp_date"> <%= Russian::l event.start_date, :format => :short %></div>
	<div class="temp_type">
		событие
	</div>
	<div class="temp_img">
    	<%= image_tag "/assets/Untitled2.jpg" %>
	</div>
	<div class="temp_place">
		<%= event.place %>
	</div>
	<div class="temp_name">
		<%= event.title.truncate(25) %>
	</div>
</li>