
<%= simple_form_for(@event)  do |f| %>
  <div id="close" onclick="closeItemPopup()">X</div>
  <div class="name_form">ЯРМАРКА ВАКАНСИЙ, ПРЕЗЕНТАЦИЯ, МАСTЕР-КЛАСС, КЕЙС-ТУРНИР, КОНФЕРЕНЦИЯ</div>
  <%= f.input :title, :label => "НАЗВАНИЕ", :wrapper_html => { :class => 'first_field' } %>
  <div id="geo-map-zone">
    <div id="search-area" class="h" style="">
        <input type="text" value="" class="form-input search-address">
        <a class="btn1 btn-mini search-btn">Поиск</a>
    </div>
    <div style="margin-top: 40px; display: none;" class="fs-inner-box h" id="geomap-info"></div>
    <div id="geo-map" onhover="alert(1)"></div> </div>
  <%= f.input :description, :as => :text, :label => "ОПИСАНИЕ", :input_html => {:rows => "8", :cols => "55"} %>
  <%= f.input :photo, :label => "КАРТИНКА"  %>
  <%= f.input :nation, :label => "СТРАНА"  %>
  <%= f.input :city, :label => "ГОРОД"  %>
  <%= f.input :street, :label => "УЛИЦА", :wrapper_html => { :class => 'strt' } %>
  <%= f.input :building, :label => "ДОМ", :wrapper_html => { :class => 'house' } %>
  <%= f.input :place, :label => "МЕСТО"  %>
  <%= f.input :start_date, :label => "НАЧАЛО" , :as => :datetime %>
  <%= f.input :end_date, :label => "КОНЕЦ" , :as => :datetime %>
  <%= f.input :hyperlink, :label => "ССЫЛКА НА САЙТ ИЛИ РЕГИСТРАЦИЮ",:wrapper_html => {:class => 'hprlnk'} %>
  <div class="weblinks">
    <div id="socimgs">
      <div class="inlblck hprlnk">
        ССЫЛКИ НА МЕРОПРИЯТИЯ НА СЕРВИСАХ: 
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/ltp.png", :onclick => "itemshow('timepad');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/llookatme.jpg", :onclick => "itemshow('lookatme');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/lcityspb.jpg", :onclick => "itemshow('cityspb');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/lafisha.jpg", :onclick => "itemshow('afisha');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/lvk.png", :onclick => "itemshow('vk');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/lfb.png", :onclick => "itemshow('fb');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/ltwitter.png", :onclick => "itemshow('twitter');"%>
      </div>
    </div>


      <% if @event.timepad %>
        <div class="fields timepad">
      <% else %>
        <div class="fields timepad" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/ltp.png"%>
        </div>
        <%= f.input :timepad, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @event.lookatme %>
        <div class="fields lookatme">
      <% else %>
        <div class="fields lookatme" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/llookatme.jpg"%>
        </div>
        <%= f.input :lookatme, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @event.cityspb %>
        <div class="fields cityspb">
      <% else %>
        <div class="fields cityspb" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/lcityspb.jpg"%>
        </div>
        <%= f.input :cityspb, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @event.afisha %>
        <div class="fields afisha">
      <% else %>
        <div class="fields afisha" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/lafisha.jpg"%>
        </div>
        <%= f.input :afisha, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>


      <% if @event.vk %>
        <div class="fields vk">
      <% else %>
        <div class="fields vk" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/lvk.png"%>
        </div>
        <%= f.input :vk, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @event.fb %>
        <div class="fields fb">
      <% else %>
        <div class="fields fb" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/lfb.png"%>
        </div>
        <%= f.input :fb, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @event.twitter %>
        <div class="fields twitter">
      <% else %>
        <div class="fields twitter" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/ltwitter.png"%>
        </div>
        <%= f.input :twitter, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

  </div>
  
  <%= f.input :request_date, :label => "СРОК ПОДАЧИ ЗАЯВОК" , :as => :datetime %>
  <div class="area-label-name">СФЕРА</div>
  <div class="select">
    <div id="evcreateclick" class="area-label" onclick="areashow();">ВСЕ</div>
    <div class="dropdown ardec" onclick="$(event).stopPropagation();">  
      <div class="drop-area-label">ВСЕ</div>
      <%= f.input :areas, :label =>false, :collection => Area.all, :as => :check_boxes, :required => false, :input_html => {:checked=> true, :onclick => "doCheckbox($(this));"}, :wrapper_html => {:class => 'evshadow' } %>
    </div>  
  </div>

  <%= f.input :kind, :label => "" , :collection => ["НАУЧНАЯ КОНФЕРЕНЦИЯ", "КАРЬЕРНОЕ СОБЫТИЕ" ], :as => :check_boxes %>
  <% if current_user%>
    <% if current_user.role?(:admin) %>
      <%= f.input :status, :label => "СТАТУС", :collection => ["НОВОЕ", "УДАЛЕНО", "ОДОБРЕНО" ],:wrapper_html=> { :class => "status_select"}%>
    <% end %>
  <% end %>
  <div class="not-visible">
    <%= f.input :x_coordinate, :label => false %>
    <%= f.input :y_coordinate, :label => false %>  
  </div>

  <%= f.button :submit, :value => "ДОБАВИТЬ" %>
<% end %>
