
<%= simple_form_for(@event)  do |f| %>
  <div id="close" onclick="closeItemPopup()">X</div>
  <div class="name_form">ЯРМАРКА ВАКАНСИЙ, ПРЕЗЕНТАЦИЯ, МАСTЕР-КЛАСС, КЕЙС-ТУРНИР, КОНФЕРЕНЦИЯ</div>
  <%= f.input :title, :label => "НАЗВАНИЕ", :wrapper_html => { :class => 'first_field' } %>
  <div id="geo-map-zone">
    <div id="search-area" class="h" style="">
        <input type="text" value="" class="form-input search-address">
        <a class="btn1 btn-mini search-btn">Поиск</a>
    </div>
    <div style="margin-top: 40px; display: none;" class="fs-inner-box h" id="geomap-info"></div>
    <div id="geo-map" onhover="alert(1)"></div> </div>
  <%= f.input :description, :as => :text, :label => "ОПИСАНИЕ", :input_html => {:rows => "8", :cols => "55"} %>
  <%= f.input :photo, :label => "КАРТИНКА"  %>
  <%= f.input :nation, :label => "СТРАНА"  %>
  <%= f.input :city, :label => "ГОРОД"  %>
  <%= f.input :street, :label => "УЛИЦА", :wrapper_html => { :class => 'strt' } %>
  <%= f.input :building, :label => "ДОМ", :wrapper_html => { :class => 'house' } %>
  <%= f.input :place, :label => "МЕСТО"  %>
  <%= f.input :start_date, :label => "НАЧАЛО" , :as => :datetime %>
  <%= f.input :end_date, :label => "КОНЕЦ" , :as => :datetime %>
  <%= f.input :hyperlink, :label => "ССЫЛКА НА САЙТ ИЛИ РЕГИСТРАЦИЮ"  %>
  <%= f.input :request_date, :label => "СРОК ПОДАЧИ ЗАЯВОК" , :as => :datetime %>
  <div class="area-label-name">СФЕРА</div>
  <div class="select">
    <div id="evcreateclick" class="area-label" onclick="areashow();">ВСЕ</div>
    <div class="dropdown ardec" onclick="$(event).stopPropagation();">  
      <div class="drop-area-label">ВСЕ</div>
      <%= f.input :areas, :label =>false, :collection => Area.all, :as => :check_boxes, :required => false, :input_html => {:checked=> true, :onclick => "doCheckbox($(this));"}, :wrapper_html => {:class => 'evshadow' } %>
    </div>  
  </div>

  <%= f.input :kind, :label => "" , :collection => ["НАУЧНАЯ КОНФЕРЕНЦИЯ", "КАРЬЕРНОЕ СОБЫТИЕ" ], :as => :check_boxes %>
  
  <div class="not-visible">
    <%= f.input :x_coordinate, :label => false %>
    <%= f.input :y_coordinate, :label => false %>  
  </div>

  <%= f.button :submit, :value => "ДОБАВИТЬ" %>
<% end %>
