<%= form_for :event, :url => {:action=>:create, :controller=>:events}, :method=>:post do |f|%>
<div class="stext">ЯРМАРКА ВАКАНСИЙ, ПРЕЗЕНТАЦИЯ, МАСТЕР-КЛАСС, КЕЙС-ТУРНИР, КОНФЕРЕЦИЯ</div>
<span class="label">НАЗВАНИЕ</span><%= f.text_field :title, :class=>"name" %><span class="error"></span>
<div class="leftpart">
<span class="label">ОПИСАНИЕ</span>
<%= f.text_area :description %><span class="error"></span>
<div class="clr"></div>

<div class="isideleft">
  <span class="label">СТРАНА</span><%= f.text_field :nation, :class=>"text fr", :style=>"width:260px; margin-bottom: 5px;" %><div class="clr"></div>

  <span class="label">Вконтакте</span><%= f.text_field :vk, :class=>"text fr", :style=>"width:260px; margin-bottom: 5px;" %><div class="clr"></div>
  <span class="label">Facebook</span><%= f.text_field :facebook, :class=>"text fr", :style=>"width:260px; margin-bottom: 5px;" %><div class="clr"></div>
  <span class="label">Twitter</span><%= f.text_field :twitter, :class=>"text fr", :style=>"width:260px; margin-bottom: 5px;" %><div class="clr"></div>

  <span class="label">ГОРОД</span><%= f.text_field :city, :class=>"text fr", :style=>"width:260px; margin-bottom: 5px;" %><div class="clr"></div>
  <span class="label" style="float:left">УЛИЦА</span><div class="fr">
  <%= f.text_field :street, :class=>"text fl", :style=>"width:187px;" %>
  <span class="label" class="fl" style="margin: 0 5px; float:left;">ДОМ</span>
  <%= f.text_field :building, :class=>"text fr", :style=>"width:22px;" %>
</div>
  <span class="label" style="margin-top: 11px;">МЕСТО</span><%= f.text_field :place, :class=>"text fr", :style=>"width:260px; margin-top: -19px;" %><div class="clr"></div>
</div>
<div class="isideright" id="map4i">
  <script>
      function google_maps4() {
          var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты
          var settings = {
              zoom: 12, // Выставляем параметры зума для карты
              center: latlng,
              mapTypeControl: false,
              mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
              navigationControl: true,
              navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map4i"), settings); // Выбираем див куда ставить карту
          var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера
          var myOptions = {
              zoom: 12,  // Выставляем параметры зума для маркера
              center: myLatlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          var map = new google.maps.Map(document.getElementById("map4i"), myOptions);  // Выбираем див куда ставить маркер
          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: "A"
          });
      }
  </script>
</div>

<script type="text/javascript">
    $("#map4init").click(function(){
        google_maps4();
    });

</script>

<div class="clr"></div>

<span class="label">ДАТА</span>
<div class="datesel300 large_select" style="width: 505px !important;">
    <%= f.date_select :start_date, :order=>[:day, :month, :year] %>
  <span style="margin: 0 8px;float:left;">С</span>
   <div class="ficha">
     <%= f.time_select :tmp_date %>
     <span style="margin: 0 8px">ДО</span>
     <%= f.time_select :tmp_end_date %>

   </div>
</div>

<span class="label">ССЫЛКА НА САЙТ ИЛИ РЕГИСТРАЦИЮ</span>
<%= f.text_field :hyperlink, :class => "siteaddress", :style => "margin-bottom: 5px;" %>
<div class="clr"></div>

<span class="label">ПОСЛЕДНИЙ СРОК РЕГИСТРАЦИИ</span>
<div class="datesel300">
  <div class="ficha">
    <%= f.date_select :request_date, :order=>[:day, :month, :year] %>
  </div>
   <div class="ficha">
     <span style="margin: 0 8px">ДО</span>
     <%= f.time_select :request_hour %>

   </div>
</div>
<div class="clr"></div>


<div class="clr"></div>
<span class="label">СФЕРА:</span>

<div class="samvup sam1 sampk">
  <div class="all">ВСЕ</div>
  <div class="allCats">
  <script type="text/javascript">
        $(document).ready(function () {
            $(".catsItem").click(function () {
                var a =$(this).find(".jqTransformCheckbox").hasClass("jqTransformChecked");
                if(a){
                    $(this).find(".descripting").addClass("act");
                } else{
                    $(this).find(".descripting").removeClass("act");
                };
            });
        });
    </script>
    <% Area.all.each do |area| %>
        <div class="catsItem">
          <label>
            <input type="checkbox" name="area-<%= area.id %>" id="area-<%= area.id %>">
            <span class="descripting"><%= area.name %></span>
            <div class="clr"></div>
          </label>
        </div>
    <% end %>
  </div>
  </div>
  <% if current_user %>
      <% if current_user.role.name == 'admin' %>
          <span class="label" style="float: left; margin-top: 6px;">СТАТУС:</span>
          <div style="margin: 5px 0 0 71px;"><%= f.select :status, options_for_select([["НОВОЕ", "НОВОЕ"], ["УДАЛЕНО", "УДАЛЕНО"], ["ОДОБРЕНО", "ОДОБРЕНО"]]) %></div>
      <% end %>
  <% end %>

  <div class="manycheck">
    <div class="pchecks">
      <span class="opl"><input type="checkbox" name="" id="">НАУЧНЫЕ КОНФЕРЕНЦИЯ </span>
      <span class="opl"><input type="checkbox" name="" id="">КАРЬЕРНЫЕ СОБЫТИЕ</span>
    </div>
    <div class="clr"></div>
  </div>
</div>

<div class="rightpart">
  <span class="label">ФОТО:</span>
  <div class="photo">
    <%= image_tag "contimg5.png" %>
    <%= fields_for 'event[u_image]' do |img|%>
        <%= img.file_field :photo %>
    <% end %>
    <input type="hidden" name='event[image_id]' id='event_hidden' >
  </div>
</div>
<div class="clr"></div>

<div class="add"><button type="submit">ДОБАВИТЬ</button></div>
<% end %>
<script>
    $('form[action="/events"]').submit(function(e){
        e.preventDefault();
        $.ajax({
            data: $(this).serialize(),
            type: 'post',
            url: '<%= events_path %>',
            dataType: 'json',
            statusCode:{
                422:function(result){
                    var response = $.parseJSON(result.responseText);
                    if(response.title)
                        $('#event_title').next('.error').html(response.title[0]).fadeIn();
                    else
                        $('#event_title').next('.error').empty().fadeOut();

                    if(response.description)
                        $('#event_description').next('.error').html(response.description[0]).fadeIn();
                    else
                        $('#event_description').next('.error').empty().fadeOut();

                }
            }

        }).done(function(result){
                    if(result) window.location = window.location;
                    else
                    {
                        console.log(result);
                    }
                });
    });
</script>