<%if item.class.name.eql?('Grant')%>
  <div class="monthcont bla" style='position: relative' data-id='<%= item.id %>' id='<%= item.id %>'>
<%elsif item.class.name.eql?('Event')%>
  <div class="monthcont gre" style='position: relative' data-id='<%= item.id %>' id='<%= item.id %>'>
<%elsif item.class.name.eql?('Training')%>
  <div class="monthcont yel" style='position: relative' data-id='<%= item.id %>' id='<%= item.id %>'>
<%end%>
  <span><%= Russian::strftime(item.start_date, "%d %B %Y") %></span>

  <span class="spright">
    <%if item.class.name.eql?('Grant')%>
      грант
    <%elsif item.class.name.eql?('Event')%>
      событие
    <%elsif item.class.name.eql?('Training')%>
      стажировка
    <%end%>
  </span>

  <% unless item.image_id.eql?('') %>
    <%= image_tag Image.find(item.image_id).photo.thumb %>
  <% else %>
    <%if item.class.name.eql?('Grant')%>
      <%= image_tag('contimg4.png')%>    
    <%elsif item.class.name.eql?('Event')%>
      <%= image_tag('contimg5.png')%>    
    <%elsif item.class.name.eql?('Training')%>
      <%= image_tag('contimg6.png')%>    
    <%end%>    
  <% end %>

  <span><%= item.nation %> </span>

  <span class="spright"><%= item.start_date.strftime("%H:%M") %></span>

  <% if item.nation.blank?%>
    <%if item.title.length > 21%>
      <span class="spsize"><%= item.title.truncate(24) %></span>
    <%else%>
      <span class="spsize"><%= item.title %></span>
    <%end%>
  <%else%>
    <% if item.nation.length < 21%>
      <span class="spsize">&nbsp;<%= item.title.truncate(25 - item.nation.length) %></span>
    <%end%>
  <%end%>
  
  <div class='edit_events' >
    <span class='odobreno' data-id='<%= item.id%>'> ОДОБРЕНО </span>
    <span class='delete' data-id='<%= item.id%>'> УДАЛИТЬ </span>
  </div>

  <%if item.class.name.eql?('Grant')%>
    <%= render 'users/pk_popup_grant', :event => item, :index => index%>
  <%elsif item.class.name.eql?('Event')%>
    <%= render 'users/pk_popup_event', :event => item, :index => index%>
  <%elsif item.class.name.eql?('Training')%>
    <%= render 'users/pk_popup_train', :event => item, :index => index%>
  <%end%>
    
</div>