<input type='hidden' value='<%= @event_id %>' id='show_popup'>
<script>
  $(document).ready(function(){    
    $(window).ready(function(){
      var event_id = $('#show_popup').val();      
      if(event_id != ''){        
        $('#'+event_id).trigger('click');
      }
    });
  });

    function google_maps(id_map, x, y) {

       var latlng = new google.maps.LatLng(x, y); // Координаты карты

        var settings = {

          zoom: 12, // Выставляем параметры зума для карты

          center: latlng,

          mapTypeControl: false,

          mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

          navigationControl: true,

          navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

          mapTypeId: google.maps.MapTypeId.ROADMAP

        };

        var map = new google.maps.Map(document.getElementById(""+id_map), settings); // Выбираем див куда ставить карту

        var myLatlng = new google.maps.LatLng(x, y);  // Координаты маркера
        var myOptions = {
          zoom: 12,  // Выставляем параметры зума для маркера
          center: myLatlng,

          mapTypeId: google.maps.MapTypeId.ROADMAP

        }  

        var map = new google.maps.Map(document.getElementById(""+id_map), myOptions);  // Выбираем див куда ставить маркер
        var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: "A"
        });
    }
</script>
<% if cookies[:flag] %>
<div class="soc-reg-form"></div>  
<%= render :template => 'connections/new'%>
<%= form_tag '/find_connection', :method => :get, :class => "soc-form", :id=>'connect' do %>
<span> <%= @message %></span>
 <a href="#" class="popex">&nbsp;</a>
 Если у Вас нет созданного аккаунта нажмите на следующую ссылку - 
 <% if cookies[:fb_id] %>
<%=link_to "создать новый аккаунт из соцсети",'#', :class => "link_to_create" , :id =>"fb_form"%>
<script type="text/javascript">
$(document).ready(function () {
   $('#fb_form').click(function(){
                    $.ajax({
                       // data: $this.serialize(),
                        type: 'get',
                        url: "/create_resume_from_social_facebook",
                        dataType: 'json',
                        error: function(jqXHR, textStatus, errorThrown){
                          if(jqXHR.responseText)
                          {
                          $(".error_soc").html(jqXHR.responseText);  
                          }
                          
                        },
                        success: function(data){
                          window.location = "http://" + window.location.host;
                        }
                    })
})
 })
</script>
<% elsif cookies[:vk_id] %>
<script type="text/javascript">
            $(document).ready(function () {
             
                $('#create_vk_link').click(function(){
                  $('#connect').hide();
                  $('#vk_form').show();
                });
                
                $('#vk_form').find(".sfb").click(function(e){
                  e.preventDefault();
                  
                    $.ajax({
                        type: "get",
                        data: {user_email : $(this).prev().prev().val()},
                        url: "/create_resume_from_social_vk",
                        dataType: 'json',
                        error: function(jqXHR, textStatus, errorThrown){
                          $(".error_soc").html(jqXHR.responseText);
                        },
                        success: function(data){
                         window.location = "http://" + window.location.host;
                        }
                    })
                });                   
                            
              });
        </script>
<%=link_to "Создать новый аккаунт из соцсети", '#', :id => "create_vk_link", :class => "link_to_create" %>

<% end %>
<br>
<span>Если хотите связать аккаунт c существующим заполните форму:</span>
<br>
  Email
  <%= email_field_tag  'user_email', nil , :class => "inp" %>
  Пароль
  <%= password_field_tag 'pass', nil ,:class=> "inp"%>
  <span class="error_soc" style="color: #ff0000;"></span>
  <%= submit_tag "Отправить", :class => "sfb" %>
<% end %>
   <div class="clr"></div>

    <script type="text/javascript">
            (function($){
                $('#connect').submit(function(e){
                    var $this = $(this);
                    e.preventDefault();
                    $.ajax({
                        data: $this.serialize(),
                        type: 'get',
                        url: $this.attr('action'),
                        dataType: 'json',
                        error: function(jqXHR, textStatus, errorThrown){
                            $(".error_soc").html($.parseJSON(jqXHR.responseText).error);
                            $(".error_soc").css('display','inline-block');
                            $(".error_soc").css('margin-left','1%');
                            setTimeout(function(){
                                $('.error_soc').hide();
                            }, 5000);
                        },
                        success: function(data){
                          if ( data.errors ){
                            $(".error_soc").html(data.errors);
                          }
                          else{
                            $('.error_soc').hide();

                            window.location = "http://" + window.location.host;
                          }
                        }
                    })//.done(function(result){
                      //          if(result) window.location = "http://" + window.location.host;
                      //      });
                });
            })
                    (jQuery);
        </script>

 <script type="text/javascript">
$(document).ready(function () {


                          $(".soc-reg-form").fadeIn({'display':'block'});
                          $(".soc-form").fadeIn({'display':'block'});

                        });     
                      </script>
                      <script type="text/javascript">

                        $(document).ready(function () {
  
                         $(".popex, .soc-reg-form").click(function (event) {    
                            event.preventDefault();
                            $.ajax({
                        type: 'post',
                        url: "/delete_globall",
                        dataType: "json",
                        success: function(data){
                          $(".soc-reg-form").fadeOut({'display':'none'});
                          $(".soc-form").fadeOut({'display':'none'});
                        }
                    })
                             }); 
                        });

                      </script>
<% end %>

<div id="content">

  <%= form_for :filter, :url => sphere_path, :html => {:id => 'filter'} do |f| %>
      <div class="filterMain">
        <%= javascript_include_tag 'jquery.jqtransform' %>
        <script type="text/javascript">
            $(function () {
                $('.fjqtrans, .catsItem, .pchecks, .descripting').jqTransform();
            });

        </script>
        <%= javascript_include_tag 'sliding' %>

        <div class="filterStaz ffscr">
        <span class="lanelHead sizeBig">
          <span>Стажировки</span>
          <span class="fjqtrans">
            <input type="checkbox" checked name="check_training" value="working" />
          </span>
        </span>
          <span class="numerick"><%= @trainings_odobreno.count %></span>

          <div class="clr"></div>
          <div class="vupad">
            <span class="naming">Сфера</span>

            <div class="samvup sam1">
              <div class="all">ВСЕ</div>
              <div class="allCats">
                <script type="text/javascript">
                    $(document).ready(function () {
                      
                        $(".catsItem").click(function () {
                            var a = $(this).find(".jqTransformCheckbox").hasClass("jqTransformChecked");

                            if (a) {
                                $(this).find(".descripting").addClass("act");
                            } else {
                                $(this).find(".descripting").removeClass("act");
                            }
                        });
                    });
                </script>
                <% Area.all.each do |area| %>
                    <div class="catsItem">
                      <label>
                        <input type="checkbox" name="training[areas][]" value="<%= area.id %>"/>
                        <span class="descripting"><%= area.name %></span>

                        <div class="clr"></div>
                      </label>
                    </div>
                <% end %>
              </div>
            </div>
            <span class="naming">Компания</span>

            <div class="samvup sam2">
              <div class="all">ВСЕ</div>
              <div class="allCats">
                <script type="text/javascript">
                    $(document).ready(function () {
                        $(".descripting, .jqTransformCheckbox").click(function () {
                            $(this).parents(".catsItem").find(".descripting").toggleClass("act");
                        });
                    });
                </script>
                <% User.compinfo_names.each do |compinfo| %>
                    <div class="catsItem">
                      <label>
                        <input type="checkbox" name="training[compinfos][]" value="<%= compinfo.id %>"/>
                        <span class="descripting"><%= compinfo.name %></span>

                        <div class="clr"></div>
                      </label>
                    </div>
                <% end %>
              </div>
            </div>
            <div class="clr"></div>
          </div>
          <div class="pchecks">
            <span class='pay'>Оплата:</span>
            <% Event.payment.each do |payment| %>
              <span class="opl">
                <input type="checkbox" name="training[payments][]" value="<%=payment%>"/>
                <%=payment%>
              </span>
            <% end %>
          </div>
        </div>
        <div class="filterSob ffscr">
        <span class="lanelHead sizeBig">
          <span>События</span> 
          <span class="fjqtrans">
            <input type="checkbox" name="check_event" checked value="working">
          </span>
        </span>
          <span class="numerick"><%= @events_odobreno.count %></span>

          <div class="vupad">
            <span class="naming">Сфера</span>

            <div class="samvup sam1">
              <div class="all">ВСЕ</div>
              <div class="allCats">
                <% Area.all.each do |area| %>
                    <div class="catsItem">
                      <label>                        
                        <input type="checkbox" name="event[areas][]" value="<%= area._id %>"/>
                        <span class="descripting"><%= area.name %></span>

                        <div class="clr"></div>
                      </label>
                    </div>
                <% end %>
              </div>
            </div><div class="clr"></div>
            <div class="pchecks">
              <% Event.area_types.each do |area| %>
              <span class="opl">
                <input type="checkbox" name="event[area_types][]" value="<%= area %>"/>
                <%= area %>
              </span>
              <% end %>
            </div>
            <div class="clr"></div>
          </div>
        </div>
        <div class="filterGran ffscr">
        <span class="lanelHead sizeBig">
          <span>Гранты</span> 
          <span class="fjqtrans">
            <input type="checkbox" name="check_grant" checked value="working">
          </span>
        </span>
          <span class="numerick"><%= @grants_odobreno.count %></span>

          <div class="vupad">
            <span class="naming">Сфера</span>

            <div class="samvup sam1">
              <div class="all">ВСЕ</div>
              <div class="allCats">
                <% Area.all.each do |area| %>
                    <div class="catsItem">
                      <label>
                        <input type="checkbox" name="grant[areas][]" value="<%= area._id %>"/>
                        <span class="descripting"><%= area.name %></span>

                        <div class="clr"></div>
                      </label>
                    </div>
                <% end %>
              </div>
            </div>
            <div class="clr"></div>
          </div>

          <div class="pchecks">
            <% Grant.directions.each do |direction| %>
              <span class="opl">
                <input type="checkbox" value="<%= direction %>" name="grant[direction]"/><%= direction %>
              </span>
            <% end %>
          </div>

        </div>
      </div>
      <div class="clr"></div>
  <% end %>

  <%= javascript_include_tag 'events' %>
  <div class="monih12">    
    <% @events.each do |event| %>              
        <%= render event %>      
    <% end %>    
  </div>

  <div class="clr"></div>

  <div class="clr"></div>

</div>
<%= will_paginate @events %>
<script>
    $.fn.update_index = update_index;

    function update_index(data, year) {
      var $form = $(this);      
      if ($form.is('form#filter')) {
          // Now we will do all the stuff
          $.ajax({
              url:'<%= events_path %>.json',
              data:$form.serialize() + '&' + ids_on_page() + '&month=' + data + '&year=' + year,
              type:'get',
              dataType:'json'
          }).done(function (result) {
                      if(result.delete){
                          for(var id in result.delete){
                              $('.moncon[data-id="'+result.delete[id]+'"]').fadeOut();
                          }
                      }
                      if(result.show){
                          for(var id in result.show){
                              $('.moncon[data-id="'+result.show[id]+'"]').fadeIn();
                          }
                      }
                  });
      }
    }

    function ids_on_page() {
      var $ids = [];
      $('.moncon').filter(function () {
          return ($(this).data('id')) != undefined;
      }).each(function (index, elem) {
          $ids.push(($(elem).data('id')));
      });
      var query = "";
      for(var elem in $ids)
         query += 'grants[]=' + $ids[elem] + '&';

      return query;
    }

    $(".moncon").filter(function(){
      return $(this).children('first').is('img');        
    })

    function run_google_map(ob){
      var id_map = ob.find('.mapwrap').attr('id'),
      x = ob.find('#x_coor').val(),
      y = ob.find('#y_coor').val();
      
      if((x == undefined)||(x == '')){
        x = 59.90802;
        y = 30.330505; 
      }
        
      if(ob.find('.mapwrap').data('type') != 'Grant'){        
        google_maps(id_map, x, y);
      }
    }   

    $(document).ready(function(){
      $('#filter').find('.jqTransformCheckbox').click(function(){$('form#filter').update_index()});            

      $('.moncon').live('click', function(){        
        $('.pk_popup').css({'display':'none'});
        $(this).children(".pk_popup").fadeIn(600);
        //---------------------------------
        var scroll = $(window).scrollTop();
        if (scroll < 390) {
          $(this).children(".pk_popup").css({"top":"430px"});
        } else {
          var scrollpl = scroll+100;
          $(this).children(".pk_popup").css({'top':scrollpl});
        }

        run_google_map($(this));
        $('.fjqtrans, .catsItem, .pchecks, .descripting').jqTransform(); 
        
        $(".moncon").off('click');
        $(".moncon").on('click', function () {          
          $('.fjqtrans, .catsItem, .pchecks, .descripting').jqTransform();         
          $('.pk_popup').css({'display':'none'});
          $(this).children(".pk_popup").fadeIn(600);
          //---------------------------------
          var scroll = $(window).scrollTop();
          if (scroll < 390) {
            $(this).children(".pk_popup").css({"top":"430px"});
          } else {
            var scrollpl = scroll+100;
            $(this).children(".pk_popup").css({'top':scrollpl});
          }

          run_google_map($(this));        
        });

        $(".close_popup").click(function () {
          $(this).parent(".pk_popup").fadeOut(600);
        });    

        $('.pk_popup, .moncon').click(function(event){
          event.stopPropagation();
        });

        $('.signature').on('click', function(){
          var id_event = $(this).attr('id');
          var str; 
          if ($(this).is(':checked')){
            str = 'remove';
            $(".av-redact-bg").fadeIn();
            $(".calendar_deleted").fadeIn();
            $(".calendar_added").fadeOut();            
          }
          else{
        $(".av-redact-bg").fadeIn();
        $(".calendar_deleted").fadeIn();
        $(".calendar_added").fadeOut();
            str = 'add'
            $(".calendar_deleted").fadeOut();
            $(".av-redact-bg").fadeIn();
            $(".calendar_added").fadeIn();            
          } 
          console.log(str);
          $.ajax({ url: "/add_remove_event", type: "POST", data:{ id_event: id_event, str: str},  beforeSend:function(jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                  }
          });
        });

      });
    });

</script>



<script type="text/javascript">
    function hover (elem) {
        $(elem).children(".monthhover").css({'display':'block'});
        $(elem).children(".w203").css({'display':'none'});
    }
    function out(elem) {
        $(elem).children(".monthhover").css({'display':'none'});
        $(elem).children(".w203").css({'display':'block'});
    }   
</script>




