<div id="content">

<div class="filterMain">

<%= javascript_include_tag 'jquery.jqtransform' %>

<script type="text/javascript">

    $(function(){

        $('.fjqtrans, .catsItem, .pchecks').jqTransform();

    });

</script>

<%= javascript_include_tag 'sliding' %>

<div class="filterStaz ffscr">

<span class="lanelHead sizeBig"><span>Стажировки</span> <span class="fjqtrans"><input type="checkbox" checked name="" id=""></span></span>

<span class="numerick"><%= Training.count %></span>

<div class="clr"></div>

<div class="vupad">

<span class="naming">Сфера</span>



<div class="samvup sam1">

<div class="all">ВСЕ</div>

<div class="allCats">

<script type="text/javascript">

    $(document).ready(function () {

        $(".catsItem").click(function () {

            var a =$(this).find(".jqTransformCheckbox").hasClass("jqTransformChecked");

            if(a){

                $(this).find(".descripting").addClass("act");

            } else{

                $(this).find(".descripting").removeClass("act");

            };

        });

    });

</script>
<% Area.all.each do |area| %>
<div class="catsItem">

<label>

  <input type="checkbox" name="grants[]" value="<%= area.id %>">

  <span class="descripting"><%= area.name %></span>

  <div class="clr"></div>

</label>

</div>
<% end %>

</div>

</div>

<span class="naming">Компания</span>

<div class="samvup sam2">

  <div class="all">ВСЕ</div>

  <div class="allCats">

    <script type="text/javascript">

        $(document).ready(function () {
            $(".descripting, .jqTransformCheckbox").click(function () {
                $(this).parents(".catsItem").find(".descripting").toggleClass("act");
            });
        });

    </script>

    <% Area.all.each do |area| %>
        <div class="catsItem">

          <label>

            <input type="checkbox" name="grants[]" value="<%= area.id %>">

            <span class="descripting"><%= area.name %></span>

            <div class="clr"></div>

          </label>

        </div>
    <% end %>

  </div>

</div>

<div class="clr"></div>

</div>

<div class="pchecks">

  Оплата:

  <span class="opl"><input type="checkbox" name="" id="">Неоплачиваемая</span>

  <span class="opl"><input type="checkbox" name="" id="">оплачиваемая</span>

</div>

</div>

<div class="filterSob ffscr">

<span class="lanelHead sizeBig"><span>События</span> <span class="fjqtrans"><input type="checkbox" checked name="" id=""></span></span>

<span class="numerick">15</span>

<div class="vupad">

<span class="naming">Сфера</span>

<div class="samvup sam1">

  <div class="all">ВСЕ</div>

  <div class="allCats">

    <% Area.all.each do |area| %>
        <div class="catsItem">

          <label>

            <input type="checkbox" name="grants[]" value="<%= area.id %>">

            <span class="descripting"><%= area.name %></span>

            <div class="clr"></div>

          </label>

        </div>
    <% end %>

  </div>

</div>

<div class="pchecks">

  <span class="opl"><input type="checkbox" name="" id="">Научные конференции</span>

  <span class="opl"><input type="checkbox" name="" id="">Карьерные события</span>

</div>

<div class="clr"></div>

</div>

</div>

<div class="filterGran ffscr">

<span class="lanelHead sizeBig"><span>Гранты</span> <span class="fjqtrans"><input type="checkbox" checked name="" id=""></span></span>

<span class="numerick"><%= Grant.count %></span>
<div class="vupad">

  <span class="naming">Сфера</span>

  <div class="samvup sam1">

    <div class="all">ВСЕ</div>

    <div class="allCats">

      <% Area.all.each do |area| %>
          <div class="catsItem">

            <label>

              <input type="checkbox" name="grants[]" value="<%= area.id %>">

              <span class="descripting"><%= area.name %></span>

              <div class="clr"></div>

            </label>

          </div>
      <% end %>

    </div>

  </div>

  <div class="clr"></div>

</div>

<div class="pchecks" style="left:0;">
  Цели
  <span class="opl"><input type="checkbox" name="" id="">Цель 1</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 2</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 3</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 4</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 5</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 6</span>

</div>

</div>

</div>

<div class="clr"></div>

<div class="monih12">
  <% months =  %w[jan feb mar apr may june july aug sept oct nov dec] %>
  <% months.each_with_index do |month, index| %>
      <div class="moncon">
        <%
           grant = Grant.month(index + 1)
           if grant.nil? %>
            <%= image_tag month + '.png', :class=>"w203" %>
        <% else %>
            <div class="monthcont bla">

              <span><%= grant.start_date.strftime("%d %b %y") %></span>

              <span class="spright">грант</span>

              <img src="images/contimg4.png" alt="">

              <span><%= grant.nation %></span>

              <span class="spright"><%= grant.start_date.strftime("%H:%M") %></span>

              <span class="spsize"><%= grant.title %></span>

            </div>
        <% end %>
      </div>
  <% end %>
</div>

<div class="clr"></div>

<div class="clr"></div>

</div>