<p id="notice"><%= notice %></p>
<div class="evshow">
  <div class="soc_info">
    <% unless @event.timepad.blank? %>
      <div class="inlblck">
        <a href="<%=  @event.timepad %>" target="_blank">
          <%= image_tag "/assets/tp.png"%>
        </a>  
      </div>
    <% end %>
    <% unless @event.lookatme.blank? %>
      <div class="inlblck">
        <a href="<%=  @event.lookatme %>" target="_blank">
          <%= image_tag "/assets/lookatme.jpg"%>
        </a>  
      </div>
    <% end %>
    <% unless @event.cityspb.blank? %>
      <div class="inlblck">
        <a href="<%=  @event.cityspb %>" target="_blank">
          <%= image_tag "/assets/cityspb.jpg"%>
        </a>  
      </div>
    <% end %>
    <% unless @event.afisha.blank? %>
      <div class="inlblck">
        <a href="<%=  @event.afisha %>" target="_blank">
          <%= image_tag "/assets/afisha.jpg"%>
        </a>  
      </div>
    <% end %>
    <% unless @event.vk.blank? %>
      <div class="inlblck">
        <a href="<%=  @event.vk %>" target="_blank">
          <%= image_tag "/assets/vk.png"%>
        </a>  
      </div>
    <% end %>
    <% unless @event.fb.blank? %>
      <div class="inlblck">
        <a href="<%=  @event.fb %>" target="_blank">
          <%= image_tag "/assets/fb.png"%>
        </a>
      </div>
    <% end %>
    <% unless @event.twitter.blank? %>
      <div class="inlblck">
        <a href="<%=  @event.twitter %>" target="_blank">
          <%= image_tag "/assets/twitter.png"%>
        </a>
      </div>
    <% end %>
  </div>
  <div id="close" onclick="closeItemPopup()">X</div>
	<div class="item_title green_letter"><%= @event.title %> - СОБЫТИЕ </div>
  <table><tr>
    <td class="lcolumn">
      <div class="evimage"> 
        <% if @event.photo.blank? %>
          <%= image_tag "/assets/Untitled2.jpg" %>
        <% else %>
          <%=image_tag @event.photo.url %> 
        <% end %>
      </div>

      <%if current_user%>  
        <%if current_user.event_ids.include?(@event.id)%>  
          <p>Я иду</p>
        <% else %>
          <%= link_to "Добавить", add_participant_event_path %>
        <% end %>
      <% end %>

      <div class="green_letter"> C <%= Russian::l @event.start_date, :format => :long %></br>
       ДО <%= Russian::l @event.end_date, :format => :long %> </div>
  		<div> ДОБАВИЛ:  <%= @owner.email %> </div>
  		<div> 
  			<%= @event.place %> 
  			<%= @event.nation %> 
  			<%= @event.city %> 
  			<%= @event.street %> 
  			<%= @event.building %> 
  		</div>
    </td>
    <td class="rcolumn">
      <div> <%= @event.description %> </div>
      <div class="green_letter"> СРОК ПОДАЧИ ЗАЯВОК <%= Russian::l @event.request_date, :format => :long %> </div>
      <div> <%= @event.hyperlink %> </div>
      <div class="item-map" data-x="<%= @event.try(:x_coordinate) || "59.93365223894488" %>" data-y="<%= @event.try(:y_coordinate) || "30.300378486327617"%>"> 
        <div id="geo-map-zone">
          <div style="margin-top: 40px; display: none;" class="fs-inner-box h" id="geomap-info"></div>
          <div id="geo-map" data-x="<%= @event.try(:x_coordinate) || "59.93365223894488"%>" data-y="<%= @event.try(:y_coordinate) || "30.300378486327617"%>" ></div> 
        </div>
      </div>
    </td>  
  </tr>
  </table>  

<% if current_user%>
  <% if current_user.role?(:admin) %>
    <%= link_to 'редактировать', edit_event_path(@event) %> |
  <% end %>
<% end %>
