<p id="notice"><%= notice %></p>
<div class="evshow">
	<div class="item_title green_letter"><%= @event.title %> - СОБЫТИЕ </div>
  <table><tr>
    <td class="lcolumn">
      <div class="evimage"> 
        <% if @event.photo.blank? %>
          <%= image_tag "/assets/Untitled2.jpg" %>
        <% else %>
          <%=image_tag @event.photo.url %> 
        <% end %>
      </div>
      <%= link_to "Добавить", add_participant_event_path %>
      <div class="green_letter"> C <%= @event.start_date.to_formatted_s(:db) %></br>
       ДО <%= @event.end_date.to_formatted_s(:db) %> </div>
  		<div> ДОБАВИЛ <p><%= @owner.name %></p> </div>
  		<div> 
  			<%= @event.place %> 
  			<%= @event.nation %> 
  			<%= @event.city %> 
  			<%= @event.street %> 
  			<%= @event.building %> 
  		</div>
    </td>
    <td class="rcolumn">
      <div> <%= @event.description %> </div>
      <div class="green_letter"> СРОК ПОДАЧИ ЗАЯВОК <%= @event.request_date.to_formatted_s(:db) %> </div>
      <div> <%= @event.hyperlink %> </div>
      <div class="item-map"> 
        <div id="geo-map-zone">
          <div style="margin-top: 40px; display: none;" class="fs-inner-box h" id="geomap-info"></div>
          <div id="geo-map" data-x="<%= @event.try(:x_coordinate) %>" data-y="<%= @event.try(:y_coordinate) %>"></div> 
        </div>
      </div>
    </td>  
  </tr>
  </table>  

<% if current_user%>
  <% if current_user.role?(:admin) %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
  <% end %>
<% end %>
