
<div id="resume">
  <%= simple_form_for @page do |f| %>
    <%= f.input :title, :label => "НАЗВАНИЕ" %>
    <%= f.input :content, :label => "СОДЕРЖАНИЕ", as: :text, :input_html => {:rows => "8", :cols => "65"}  %>

    <div class="line"></div>
    <%= f.input :meta_title  %>
    <%= f.input :meta_description %>
    <%= f.input :meta_keyword%>
    <div class="line"></div>

    <%= f.button :submit, :value => "СОХРАНИТЬ" %>
  <% end %>
</div>  

