<div id="resume" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <%= form_for @page do |f| %>
    <table>
    <tr><td><label>Название</label></td><td><%= f.text_field :title%></td></tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="MCE">
        <%= f.tinymce :content %>
        </div>
    </td>
    </tr>

    <tr><td><label>Заголовок</label></td><td><%= f.text_field :meta_title  %></td></tr>
    <tr><td><label>Описание</label></td><td><%= f.text_field :meta_description %></td></tr>
    <tr><td><label>Ключевые слова</label></td><td><%= f.text_field :meta_keyword%></td></tr>
    <tr><td><label>Отображать ссылку</label></td><td><%= f.check_box :visible %></td></tr>
    <tr><td>&nbsp;</td><td><%= f.submit "СОХРАНИТЬ" %></td></tr>
    </table>
  <% end %>
</div>  
