<% content_for :js do %>
    <%= tinymce_javascript_tag "pages", "advanced" %>
<% end %>
<div id="resume">
  <%= simple_form_for @page do |f| %>
    <%= f.input :title, :label => "НАЗВАНИЕ" %>
    <div class="MCE">
        <%= f.tinymce :content %>
    </div>

    <div class="line"></div>
    <%= f.input :meta_title  %>
    <%= f.input :meta_description %>
    <%= f.input :meta_keyword%>
    <div class="line"></div>

    <%= f.button :submit, :value => "СОХРАНИТЬ" %>
  <% end %>
</div>  
