<h1>Список сфер</h1>
  <div id="arealist" >
    <% @areas.each do |area| %>
      <% if @myareas && @myareas.include?(area.id) %>
        <label class = "checkbox">
          <input class="check_boxes optional" id="areachkbx" name="areas[]" type="checkbox" value="<%= area.name%>" checked = "checked" data-id="<%= area.id %>" >
          <%= area.name %>
        </label> 
      <% else %>
        <label class = "checkbox">
          <input class="check_boxes optional" id="areachkbx" name="areas[]" type="checkbox" value="<%= area.name %>" data-id="<%= area.id %>" >
          <%= area.name %>
        </label> 
      <% end %>
      <br/>
    <% end %>
  </div>
<br />
<div id="save-area" onclick="addareas();" data-url="<%= add_to_user_areas_path %>"> СОХРАНИТЬ </div>
<br />