<div class="vline">|</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <span><%= f.label :email %>
  <%= f.email_field :email %></span>

  <span><%= f.label "пароль" %>
  <%= f.password_field :password %></span>

	<div class="vline">|</div>
  <span><%= f.submit "ВОЙТИ" %></span>
<% end %>

<div class="vline">|</div>
<%= render "devise/shared/links_for_login" %>
