<div id="loginarea" class="vline">&nbsp;</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true ) do |f| %>
  <div class="inline"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div class="inline"><%= f.label "пароль" %>
  <%= f.password_field :password %></div>
  
  <div class="inline"><%= f.label "Запомнить" %>
  <%= f.check_box :remember_me %></div>

	<div class="vline">&nbsp;</div>
  <div class="inline"><%= f.submit "ВОЙТИ" %></div>
<% end %>

<div class="vline">&nbsp;</div>
<%= render "devise/shared/links_for_login" %>

