<%= simple_form_for @grant, :validate => true  do |f| %>
  <div id="close" onclick="closeItemPopup()">X</div>
  <%= f.input :title, :label => "НАЗВАНИЕ", :wrapper_html => { :class => 'first_field' } %>
  <%= f.input :description, :as => :text, :label => "ОПИСАНИЕ", :input_html => {:rows => "8", :cols => "55"} %>
  <%= f.input :photo, :label => "КАРТИНКА"  %>
  <%= f.input :hyperlink, :label => "ССЫЛКА НА САЙТ ИЛИ РЕГИСТРАЦИЮ"  %>

  <div class="weblinks">
    <div id="socimgs">
      <div class="inlblck">
        ССЫЛКИ НА МЕРОПРИЯТИЯ НА СЕРВИСАХ: 
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/ltp.png", :onclick => "itemshow('timepad');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/llookatme.jpg", :onclick => "itemshow('lookatme');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/lcityspb.jpg", :onclick => "itemshow('cityspb');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/lafisha.jpg", :onclick => "itemshow('afisha');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/lvk.png", :onclick => "itemshow('vk');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/lfb.png", :onclick => "itemshow('fb');"%>
      </div>
      <div class="inlblck">
        <%= image_tag "/assets/ltwitter.png", :onclick => "itemshow('twitter');"%>
      </div>
    </div>


      <% if @grant.timepad %>
        <div class="fields timepad">
      <% else %>
        <div class="fields timepad" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/ltp.png"%>
        </div>
        <%= f.input :timepad, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @grant.lookatme %>
        <div class="fields lookatme">
      <% else %>
        <div class="fields lookatme" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/llookatme.jpg"%>
        </div>
        <%= f.input :lookatme, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @grant.cityspb %>
        <div class="fields cityspb">
      <% else %>
        <div class="fields cityspb" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/lcityspb.jpg"%>
        </div>
        <%= f.input :cityspb, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @grant.afisha %>
        <div class="fields afisha">
      <% else %>
        <div class="fields afisha" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/lafisha.jpg"%>
        </div>
        <%= f.input :afisha, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>


      <% if @grant.vk %>
        <div class="fields vk">
      <% else %>
        <div class="fields vk" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/lvk.png"%>
        </div>
        <%= f.input :vk, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @grant.fb %>
        <div class="fields fb">
      <% else %>
        <div class="fields fb" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/lfb.png"%>
        </div>
        <%= f.input :fb, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

      <% if @grant.twitter %>
        <div class="fields twitter">
      <% else %>
        <div class="fields twitter" style="display: none;">
      <% end %>
        <div class="inlblck">
          <%= image_tag "/assets/ltwitter.png"%>
        </div>
        <%= f.input :twitter, :label => false, :placeholder => 'Укажите ссылку на мероприятие на выбранном сервисе'  %>
      </div>

  </div>

  <%= f.input :start_date, :label => "НАЧАЛО" , :as => :datetime %>
  <%= f.input :end_date, :label => "КОНЕЦ" , :as => :datetime %>
  <%= f.input :nation, :label => "СТРАНА"  %>
  <%= f.input :request_date, :label => "СРОК ПОДАЧИ ЗАЯВОК" , :as => :datetime %>
  <%= f.input :direction, :label => "СФЕРА" , :collection => ["ЕСТЕСТВЕННЫЕ", "ГУМАНИТАРНЫЕ", "ОБЩЕСТВЕННЫЕ", "ТЕХНИЧЕСКИЕ", "МАТЕМАТИЧЕСКИЕ И IT", "ЛЮБАЯ"], :as => :check_boxes, :wrapper_html => {:class=>"lll"} %>
  <%= f.input :end_point, :label => "ЦЕЛЬ" , :collection => ["ИССЛЕДОВАТЕЛЬСКАЯ ДЕЯТЕЛЬНОСТЬ", "ОБУЧЕНИЕ", "РЕАЛИЗАЦИЯ ПРОЕКТА", "ЛЮБАЯ"], :as => :check_boxes, :wrapper_html => { :class => 'end_point' } %>  
  <% if current_user%>
    <% if current_user.role?(:admin) %>
      <%= f.input :status, :label => "СТАТУС", :collection => ["НОВОЕ", "УДАЛЕНО", "ОДОБРЕНО" ],:wrapper_html=> { :class => "status_select"}%>
    <% end %>
  <% end %>
  <div class="not-visible">
    <%= f.input :x_coordinate, :label => false %>
    <%= f.input :y_coordinate, :label => false %>  
  </div>

  <%= f.button :submit, :value => "ДОБАВИТЬ", :class => "grant_button" %>



<% end %>

