<div class="moncon grants_hider" data-id="<%= grant._id %>" id="<%= grant._id %>" data-tags='<%= grant.class.name%>'>
  <div class="monthcont bla">
    <span><%= Russian::strftime(grant.start_date, "%d %B") %></span>
    <span class="spright">грант</span>
    <% if grant.image_id.blank? %>
        <%= image_tag "contimg4.png" %>
    <% else %>
        <%= image_tag Image.find(grant.image_id).photo.thumb %>
    <% end %>
    <span><%= grant.nation %>&nbsp;</span>
    <span class="spright"><%= grant.start_date.strftime('%H:%M') %></span>
    <span class="spsize"><%= grant.title.truncate(16) %></span>
    <div class="clr"></div>
  </div>
  <section class="pk_popup grant">

    <div class="close_popup"></div>
  <div class="head">
    <h2><%= grant.title %> — ГРАНТ</h2>
    <div class="social">
     <a  class="facebook" onclick = "facebook($(this))" id="aaaa" ></a>
<a onclick="twitter($(this))" class="twitter" style='margin-left:-7px'> </a>
<a onclick="vkontakte($(this))" class="vk"> </a> 
    </div>
    <div class="clr"></div>
  </div>
  <div class="lside">
    <% unless grant.image_id.eql?('') %>
      <%= image_tag Image.find(grant.image_id).photo.thumb %>
    <%else%>
      <%= image_tag "contimg4.png" %>
    <%end%>
    <div class="catsItem addtocallendar" >
      <label>
        <span class="descripting"><span class="add_c_text">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ</span>
        <%if user_signed_in? %>
          <% if UserEvent.where(:user_id => current_user.id, :event_parent_id => grant.id).present?%>
            <input type="checkbox" name="" id="<%= grant.id%>" class='signature' checked>
          <%else%>
            <input type="checkbox" name="" id="<%= grant.id%>" class='signature'>
          <%end%>
        <%end%>
      </span>
        <div class="clr"></div>
      </label>
    </div>
    <div class="date_wrap">
      <div class="date"><%= Russian::strftime(grant.start_date, "%d %B %Y") %></div>
      <div class="time"><span style='font-size:18px'>C 09:00 ДО <%= grant.start_date.strftime(" %H:%M ") %></span></div>
    </div>
    </br>
    <div class="whoadd">
      <% unless grant.owner.nil? %>
        <% event_user = User.find(grant.owner)%>
        <% if event_user.resume? && event_user.resume.photo? %>
                  <%= image_tag event_user.resume.photo.url(:small) %>
            <% elsif event_user.compinfo? && event_user.compinfo.photo? %>          
                <%= image_tag event_user.compinfo.photo.url(:small) %>           
            <% else %>
                <%= image_tag 'nophoto.jpg' %>                
            <% end %>
        
        <div class="text">
          ДОБАВИЛ:
          <div class="username"><a href="">
            <%if user_signed_in? %>         
              <% unless event_user.resume.nil?%>
                <%= link_to event_user.resume.name + " " + event_user.resume.surname, userevents_user_path(event_user)%>
              <%end%>
              <% unless event_user.compinfo.nil? %>         
                <%= link_to event_user.compinfo.name, userevents_user_path(event_user) %>
              <%end%>
            <%else%>
              <% unless event_user.resume.nil?%>
                <%= link_to event_user.resume.name + " " + event_user.resume.surname, '#'%>
              <%end%>
              <% unless event_user.compinfo.nil? %>         
                <%= link_to event_user.compinfo.name, '#'%>
              <%end%>
            <%end%>
          </a></div>
        </div>
      <%end%>
    </div>
    <div class="address">     
    </div>
  </div>
  <div class="rside">
    <p><%= grant.description %></p>   
    <h3>СРОК ПОДАЧИ ЗАЯВОК:</h3>
    <div class="term"><%=  Russian::strftime(grant.start_date, "%d %B %Y") %></div>
    <a href=""><%= grant.hyperlink%></a>
    <div id="map<%= grant.id%>" class="mapwrap" data-type='<%=grant._type%>'>
    <div>
  </div>


    <div class="clr"></div>

  </section>
</div>
