<li class="temp_grant templ" data-type="grant" data-content="<%= grant.id%>" onclick="showgrant('<%=grant.id%>');">
	<div class="temp_date"> <%= Russian::l grant.start_date, :format => :short %></div>
	<div class="temp_type">
		грант
	</div>
	<div class="temp_img">
  	<%= image_tag "/assets/Untitled3.jpg" %>
	</div>
	<div class="temp_place">
		
	</div>
	<div class="temp_name">
		<%= grant.title.truncate(25) %>
	</div>
</li>