<%= form_for :grant, :url => {:action=>:create, :controller => :grants}, :method => :post do |f|%>
  <span class="label">НАЗВАНИЕ</span><%= f.text_field :title, :class=>'name' %>
  <div class="leftpart">
    <span class="label">ОПИСАНИЕ</span>
    <%= f.text_area :description %>
    <div class="clr"></div>

    <span class="label">ССЫЛКА НА САЙТ ИЛИ РЕГИСТРАЦИЮ</span>
    <%= f.text_field :hyperlink, :class => "siteaddress" %>
    <div class="clr"></div>

    <span class="label">СРОКИ ПОДАЧИ ЗАЯВОК</span>
    <div class="datesel300 large_select">
      <%= f.date_select :start_date, :order=>[:day, :month, :year] %>
      <span style="margin: 0 8px;float:left;">ДО</span>
      <div style="display: inline-block;position:relative;top:-5px;"><%= f.time_select :end_date %></div>
    </div>
    <div class="clr"></div>

    <span class="label">СТРАНА:</span>
    <%= f.text_field :country, :class => "countpk" %>
    <div class="clr"></div>
  </div>
  <div class="rightpart">
    <span class="label">ФОТО:</span>
    <div class="photo">
        <%= image_tag "photo.png" %>
        <%= render 'images/new' %>
        <%#= f.hidden_field :image %>
    </div>
  </div>
  <div class="clr"></div>
  <div class="manycheck">
    <span class="label fl">СФЕРА:</span>
    <div class="samvup sam1 sampkl">
      <div class="all">ВСЕ</div>
      <div class="allCats">
        <script type="text/javascript">
            $(document).ready(function () {
                $(".catsItem").click(function () {
                    var a =$(this).find(".jqTransformCheckbox").hasClass("jqTransformChecked");
                    if(a){
                        $(this).find(".descripting").addClass("act");
                    } else{
                        $(this).find(".descripting").removeClass("act");
                    };
                });
            });
        </script>
        <% Area.all.each do |area| %>
            <div class="catsItem">
              <label>
                <input type="checkbox" name="area-<%= area.id %>" id="area-<%= area.id %>">
                <span class="descripting"><%= area.name %>L</span>
                <div class="clr"></div>
              </label>
            </div>
        <% end %>
      </div>
    </div>
    <div class="clr"></div>
    <div>
    <% if current_user %>
        <% if current_user.role.name == 'admin' %>
            <span class="label">СТАТУС:</span>
            <%= f.select :status, options_for_select([["НОВОЕ", "НОВОЕ"], ["УДАЛЕНО", "УДАЛЕНО"], ["ОДОБРЕНО", "ОДОБРЕНО"]]) %>
        <% end %>
    <% end %>
    </div>
    <div class="clr"></div>
    <span class="label fl">ЦЕЛЬ:</span>
    <div class="pchecks">
      <% Grant.directions.each do |direction| %>
      <span class="opl">
        <input type="radio" value="<%= direction %>" name="grant[direction]"/><%= direction %>
      </span>
      <% end %>
    </div>
  </div>
  <div class="add"><button type="submit">ДОБАВИТЬ</button></div>
<% end %>
