<p id="notice"><%= notice %></p>
<h1> <%= @grant.title %> - ГРАНТ </h1>
<div> <%= @grant.description %> </div>
<div> <%=image_tag @grant.photo.url %> </div>
<div> C <%= @grant.start_date.to_formatted_s(:db) %> </div>
<div> ДО <%= @grant.end_date.to_formatted_s(:db) %> </div>

<div> Окончание подачи заявок <%= @grant.request_date.to_formatted_s(:db) %> </div>
<div> <%= @grant.hyperlink %> </div>
<div> ДОБАВИЛ <%= @grant.user.name %> </div>



<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
