<p id="notice"><%= notice %></p>
<div class="grshow">
  <div class="soc_info">
    <% unless @grant.timepad.blank? %>
      <div class="inlblck">
        <a href="<%=  @grant.timepad %>" target="_blank">
          <%= image_tag "/assets/tp.png"%>
        </a>  
      </div>
    <% end %>
    <% unless @grant.lookatme.blank? %>
      <div class="inlblck">
        <a href="<%=  @grant.lookatme %>" target="_blank">
          <%= image_tag "/assets/lookatme.jpg"%>
        </a>  
      </div>
    <% end %>
    <% unless @grant.cityspb.blank? %>
      <div class="inlblck">
        <a href="<%=  @grant.cityspb %>" target="_blank">
          <%= image_tag "/assets/cityspb.jpg"%>
        </a>  
      </div>
    <% end %>
    <% unless @grant.afisha.blank? %>
      <div class="inlblck">
        <a href="<%=  @grant.afisha %>" target="_blank">
          <%= image_tag "/assets/afisha.jpg"%>
        </a>  
      </div>
    <% end %>
    <% unless @grant.vk.blank? %>
      <div class="inlblck">
        <a href="<%=  @grant.vk %>" target="_blank">
          <%= image_tag "/assets/vk.png"%>
        </a>  
      </div>
    <% end %>
    <% unless @grant.fb.blank? %>
      <div class="inlblck">
        <a href="<%=  @grant.fb %>" target="_blank">
          <%= image_tag "/assets/fb.png"%>
        </a>
      </div>
    <% end %>
    <% unless @grant.twitter.blank? %>
      <div class="inlblck">
        <a href="<%=  @grant.twitter %>" target="_blank">
          <%= image_tag "/assets/twitter.png"%>
        </a>
      </div>
    <% end %>
  </div>
  <div id="close" onclick="closeItemPopup()">X</div>
	<div class="item_title black_letter"> <%= @grant.title %> - ГРАНТ </div>
  <table><tr>
    <td class="lcolumn">	
      <div class="evimage">  
        <% if @grant.photo.blank? %>
          <%= image_tag "/assets/Untitled3.jpg" %>
        <% else %>
          <%=image_tag @grant.photo.url %> 
        <% end %>
      </div>

      <%if current_user%>  
        <div class="participant">  
          <%if current_user.grant_ids.include?(@grant.id)%>  
            <div onclick = "delpart();" data-id="<%= @grant.id%>" data-item = "grant" data-url="<%= del_participant_grant_path(@grant)%>"> УДАЛИТЬ ИЗ МОЕГО КАЛЕНДАРЯ </div>
            <!--
              <%= link_to "Удалить", del_participant_grant_path(@grant)%>
            -->
          <% else %>
            <!--
              <%= link_to "Добавить", add_participant_grant_path(@grant), :remote => true %>
            -->
            <div onclick = "addpart();" data-id="<%= @grant.id%>" data-item = "grant" data-url="<%= add_participant_grant_path(@grant)%>"> ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ </div>
          <% end %>
        </div>
      <% end %>

      <div class="black_letter"> C <%= Russian::l @grant.start_date, :format => :long %> </br>
        ДО <%= Russian::l @grant.end_date, :format => :long %> </div>
  		<div> ДОБАВИЛ <%= @owner.name %> </div>
    </td>
    <td class="rcolumn">
      <div> <%= @grant.description %> </div>
      <div class="black_letter"> СРОК ПОДАЧИ ЗАЯВОК:  </div>
      <%= Russian::l @grant.request_date, :format => :long %>
      <div> <%= @grant.hyperlink %> </div>
    </td>
  </tr>
  </table> 

<% if current_user%>
  <% if (current_user.role?(:admin) || current_user.id == @grant.owner)%>
    <%= link_to 'редактировать', edit_grant_path(@grant) %> |
  <% end %>
<% end %>


</div>

<script type="text/javascript">
 $(window).load(function(){
    /*geocoder = new google.maps.Geocoder();
    geo.setLoc("59.93365223894488","30.300378486327617");
    geo.init({isFirstSet: true, map: 'gm', elementString : "#geo-map"});*/
    geo.init(false, {latitude: 59.93124, longitude: 30.35943, map: 'gm'});
  });
</script>