<p id="notice"><%= notice %></p>
<div class="grshow">
	<div class="item_title black_letter"> <%= @grant.title %> - ГРАНТ </div>
  <table><tr>
    <td class="lcolumn">	
      <div class="evimage">  
        <% if @grant.photo.blank? %>
          <%= image_tag "/assets/Untitled3.jpg" %>
        <% else %>
          <%=image_tag @grant.photo.url %> 
        <% end %>
      </div>
      <div class="black_letter"> C <%= @grant.start_date.to_formatted_s(:db) %> </br>
        ДО <%= @grant.end_date.to_formatted_s(:db) %> </div>
  		<div> ДОБАВИЛ <%= @owner.name %> </div>
    </td>
    <td class="rcolumn">
      <div> <%= @grant.description %> </div>
      <div class="black_letter"> СРОК ПОДАЧИ ЗАЯВОК:  </div>
      <%= @grant.request_date.to_formatted_s(:db) %>
      <div> <%= @grant.hyperlink %> </div>
    </td>
  </tr>
  </table> 

<% if current_user%>
  <% if current_user.role?(:admin) %>
    <%= link_to 'Edit', edit_grant_path(@grant) %> |
    <%= link_to 'Back', grants_path %>
  <% end %>
<% end %>


</div>

<script type="text/javascript">
 $(window).load(function(){
    /*geocoder = new google.maps.Geocoder();
    geo.setLoc("59.93365223894488","30.300378486327617");
    geo.init({isFirstSet: true, map: 'gm', elementString : "#geo-map"});*/
    geo.init(false, {latitude: 59.93124, longitude: 30.35943, map: 'gm'});
  });
</script>