<div class="nested-fields">
  <div class="input_field fr">
    <div class="sub_info_row">
      <span style='margin-left:-10px; width: 85px;'>КОМПАНИЯ</span> 
      <%= f.text_field :experience_company, :style => "width: 280px;"%>
      <div class="clr"></div>
    </div>
    <div class="sub_info_row">
      <div class="fl">
        <span style='width:10px; margin-left: -10px;'>C</span>
        <%= f.date_select :experience_from, :start_year => 1950, :end_year => Date.today.year,
                      :order => [:day, :month, :year], :class => "fl", :style => "width: 170px;" %>    
       </div>
      <div class="fr">
        <span style='width:20px;'>ПО</span>
        <%= f.date_select :experience_to, :start_year => 1950, :end_year => Date.today.year,
                      :order => [:day, :month, :year], :style => "width: 170px;" %>      
       </div>
      <div class="clr"></div>
    </div>

    <div class="sub_info_row">
      <span style='width:85px; margin-left: -10px;'>ДОЛЖНОСТЬ</span>
      <%= f.text_field :experience_position, :style => "width:280px;"  %>    
      <div class="clr"></div>
    </div>
    <div class="delete_experience_work">
      УДАЛИТЬ <%= link_to_remove_association image_tag('delete.png'), f %>          
    </div>  
  </div>
  <div class="clr"></div>
</div>