<div id="resume">
  <%= simple_form_for @resume do |f| %>
    <%= f.input :surname, :label => "ФАМИЛИЯ" %>
    <%= f.input :name, :label => "ИМЯ" %>
    <%= f.input :gender, :label => "ПОЛ", :collection => ["мужской", "женский"], :as => :radio_buttons  %>
    
    <div class="for_clear"></div>
    <!-- -->
        <%= f.input :photo, :label => "АВАТАР"  %>
    <!-- -->
    <%= f.input :birthday, :label => "ДЕНЬ РОЖДЕНИЯ", :as => :date, :start_year => Date.today.year - 50,
                              :end_year => Date.today.year - 10,
                              :order => [:day, :month, :year] %>
    <%= f.input :home, :label => "ГОРОД"  %>
    <div class="line"></div>
    <%= f.input :education, :label => "ОБРАЗОВАНИЕ"  %>
    <%= f.input :university, :label => "ВУЗ", :wrapper_html =>{:class => "edu"} %>
    <%= f.input :faculty, :label => "ФАКУЛЬТЕТ", :wrapper_html =>{:class => "edu"}  %>
    <%= f.input :experation, :label => "ДАТА ОКОНЧАНИЯ", :wrapper_html =>{:class => "edu"}  %>
    <div class="line"></div>
    <%= f.input :description, :label => "ОПИСАНИЕ СЕБЯ", as: :text, :input_html => {:rows => "8", :cols => "65"}  %>
    <div class="line"></div>

    <%= f.input :delivery_email_enable, :as => :boolean, :label => "ПОДПИСАТЬСЯ НА РАССЫЛКУ ПО ИНТЕРЕСУЮЩИМ МЕНЯ СФЕРАМ"  %>
    <div class="for_clear"></div>
    <%= f.input :delivery_email, :label => "E-MAIL", :wrapper_html =>{:class => "hd"}  %>
    <div class="line"></div>
    <%= f.input :delivery_phone_enable, :as => :boolean, :label => "ПОДПИСАТЬ НА SMS-РАССЫЛКУ", :wrapper_html =>{:class => "sms-label"}  %>
    <div class="for_clear"></div>
    <%= f.input :delivery_phone, :label => "ВАШ МОБИЛЬНЫЙ ТЕЛЕФОН"  %>
    <div class="line"></div>
    
    <%= link_to "СМЕНИТЬ ПАРОЛЬ", edit_registration_path(current_user), :class=> "edit"%>

    <%= f.button :submit, :value => "СОХРАНИТЬ" %>
  <% end %>
</div>  

