 <script language="javascript">
  $(function(){
   $('.tv_sizeBig, .fjqtrans, .catsItem, .pchecks').jqTransform();
  });
 </script>
<div id="content">
  <%= form_for @resume do |f| %>
  <div class="input_info">
    <div class="info_row">
      <span>ИМЯ</span>
      <div class="input_field">
        <%= f.text_field :name, :style => 'width:423px;'%>
      </div>      
      <br><br>
      <span>ФАМИЛИЯ</span>
      <div class="input_field">
        <%= f.text_field :surname, :style => 'width:423px;' %>
      </div>
      <div class="clr"></div>

      <span>ПОЛ</span>
      <div class='input_field'>
        <%= f.select :sex, ['мужской','женский'], :class=>"select1" %>
      </div>
      <div class="clr"></div>

      <span>ДАТА РОЖДЕНИЯ</span>
      <div class="input_field">
        <script type="text/javascript">
          jQuery(function () {
            jQuery("#resume_sex ,"+ "#resume_birthday_3i,#resume_birthday_2i,#resume_birthday_1i,"+
              "#resume_experation_1i,"+
              ".class2_3i").selectbox();
          });
        </script>        
        <%= f.date_select :birthday, :start_year => Date.today.year - 50, :end_year => Date.today.year - 10,
                    :order => [:day, :month, :year] %>
      </div>
      <div class="clr"></div>      

      <span>МЕСТО ЖИТЕЛЬСТВА</span>
      <div class="input_field">
        <%= f.text_field :home, :style => 'width:423px;'  %>
      </div>
      <div class="clr"></div>
    </div>
    <div class="sep"></div>
    <div class="info_row">
      <span>ОБРАЗОВАНИЕ</span>
      <div class="input_field" id='education_fields'>
        <%= f.text_field :education, :style => 'width:423px;' %>
        <div class="sub_info_row">
          <span>ВУЗ</span>
          <%= f.text_field :university, :style => 'width:423px;' %>
          <div class="clr"></div>
        </div>
        <div class="sub_info_row">
          ФАКУЛЬТЕТ
          <%= f.text_field :faculty, :style => 'width:423px;' %>
          <div class="clr"></div>
        </div>       

        <div class="sub_info_row" id='remove_empty'>
          <span style="padding-left:0;">ДАТА ОКОНЧАНИЯ</span>
          <div class="new-sel"><%= f.date_select :experation, :start_year => Date.today.year - 50, :end_year => Date.today.year - 10, :discard_day => true, :discard_month => true, :order => [:year] %></div>          

          <div class="clr"></div>
        </div>
      </div>
      <div class="clr"></div>
    </div>

    <div class="sep"></div>

    <div class="info_row">
      <span>ОПЫТ РАБОТЫ</span>
      <%= f.fields_for  :experience_works do |experience| %>
        <%= render 'experience_work_fields', :f => experience %>
      <%end%> 
      <div id='add_experience_work'>                       
        <%= link_to_add_association "ДОБАВИТЬ", f, :experience_works %>
      </div>
      <% if @user.resume.experience_works.count == 0%>
        <script>
          $(document).ready( function (){
           $('.add_fields').trigger('click'); 
          });
        </script> 
      <%end%>
      <div class="clr"></div>     
    </div>

    <div class="sep"></div>

    <div class="info_row">
      <span>ОПИСАНИЕ СЕБЯ</span>
      <div class="input_field">
        <%= f.text_area :description, :as => :text  %>
      </div>
      <div class="clr"></div>
    </div>

    <div class="sep"></div>
    <div class="tv_sizeBig">
      <span>ПОДПИСАТЬСЯ НА РАССЫЛКУ ПО ИНТЕРЕСУЮЩИМ МЕНЯ СФЕРАМ</span>
      <%= f.check_box :delivery_email_enable, :as => :boolean  %>
      <div class="clr"></div>
    </div>

    <div class="info_row">
      <div class="sub_info_row">
        <span></span>
        E-MAIL
        <%= f.text_field :delivery_email, :style => "width:375px;" %>
      </div>
    </div>
    <div class="clr"></div>

    <div class="sep"></div>
    <div class="tv_sizeBig">
      <span>ПОДПИСАТЬСЯ НА SMS-РАССЫЛКУ</span>
      <%= f.check_box :delivery_phone_enable, :as => :boolean %>
      <div class="clr"></div>
    </div>

    <span>ВАШ МОБИЛЬНЫЙ ТЕЛЕФОН</span>
    <%= f.text_field :delivery_phone, :style => "width:375px;" %>
    <div class="clr"></div>
    <div class="sep"></div>    
    
    <div class="info_row">
      <span><%= link_to "СМЕНИТЬ ПАРОЛЬ", '#', :class=> "edit"%></span>      
      <div id='change_password' style="display:none;">
        <%= render 'devise/registrations/edit'%>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
    <div class="info_row">
      <button id='resume_save'>СОХРАНИТЬ</button>
    </div>
  </div>
  <%end%>
</div>
<script>  
  $(document).ready( function (){

     /*$('.add_fields').on('click', function(){
      if ($('.company').val() == ''){
        $('.delete_experience_work').find('img').trigger('click');        
      }
     });*/

      $('#resume_save').on('mousedown', function(){    
        var index = 0
        $('#education_fields').find('input').each(function(){
          if($(this).val() === ''){
            index ++;
          }
        });
        if(index === 3){
          $('#remove_empty').remove();
        }        
        $('.company').each(function(){          
          if ($(this).val() === ''){          
            $(this).parent().parent().find('.delete_experience_work').find('a').trigger('click');        
          }
        })
      });
      $('.add_fields').on('click', function(){    
        $('.company').each(function(){          
          if ($(this).val() == ''){          
            $(this).parent().parent().find('.delete_experience_work').find('a').trigger('click');        
          }
        })
      });

     /*$('.delete_experience_work').on('click', function(arg){
      console.log(arg.target.nodeName);
     })*/
    
    $('.edit').on('click', function(event){
      event.preventDefault();
      if($('#change_password').is(":hidden")){
        $('#change_password').slideDown();
      }
      else{
        $('#change_password').slideUp();
      }      
    });
    $('#update_password').on('click', function(e){
      $('#change_password').slideUp();      
      var user_id = $('#user_id').val(),
          user = $('#change_password #user_email, #change_password #user_password_confirmation, #change_password #user_password, #change_password #user_current_password').serialize();
      $.ajax({ url: "/users/"+user_id,   type: "PUT", data: user,  beforeSend:function(jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                }
      });
      setTimeout(function(){
        $('#message_info').remove();
      }, 5000);
      
    e.preventDefault();
    });     
  });
</script>
