<div id="content">
  <%= form_for @resume do |f| %>
  <div class="input_info">
    <div class="info_row">
      <span>ИМЯ</span>
      <div class="input_field">
        <%= f.text_field :name, :style => 'width:423px;'%>
      </div>
      <div class="clr"></div>

      <span>ФАМИЛИЯ</span>
      <div class="input_field">
        <%= f.text_field :surname, :style => 'width:423px;' %>
      </div>
      <div class="clr"></div>

      <span>ПОЛ</span>
        <%= f.radio_button :sex, "Мужской" %>
        <%= f.label :sex, "Мужской", :value => "Мужской" %>
        <%= f.radio_button :sex, "Женский" %>
        <%= f.label :sex, "Женский", :value => "Женский" %>
      <div class="clr"></div>

      <span>ДАТА РОЖДЕНИЯ</span>
      <div class="input_field">
        <%= f.text_field :birthday, :as => :date, :start_year => Date.today.year - 50,
                    :end_year => Date.today.year - 10,
                    :order => [:day, :month, :year] %>
      </div>
      <div class="clr"></div>

      <span>МЕСТО ЖИТЕЛЬСТВА</span>
      <div class="input_field">
        <%= f.text_field :home, :style => 'width:423px;'  %>
      </div>
      <div class="clr"></div>
    </div>
    <div class="sep"></div>
    <div class="info_row">
      <span>ОБРАЗОВАНИЕ</span>
      <div class="input_field">
        <%= f.text_field :education, :style => 'width:423px;' %>
        <div class="sub_info_row">
          ВУЗ
          <%= f.text_field :university, :style => 'width:423px;' %>
          <div class="clr"></div>
        </div>
        <div class="sub_info_row">
          ФАКУЛЬТЕТ
          <%= f.text_field :faculty, :style => 'width:423px;' %>
          <div class="clr"></div>
        </div>
        <div class="sub_info_row">
          ДАТА ОКОНЧАНИЯ
          <%= f.text_field :experation, :style => 'width:423px;' %>
          <div class="clr"></div>
        </div>
      </div>
      <div class="clr"></div>
    </div>

    <div class="sep"></div>

    <div class="info_row">
      <span>ОПЫТ РАБОТЫ</span>
      <div class="input_field">
        <div class="sub_info_row">
          КОМПАНИЯ 1
          <%= f.text_field :experience_company, :style => "width: 280px;"%>
          <div class="clr"></div>
        </div>
        <div class="sub_info_row">
          <div class="fl">
            C
          <%= f.text_field :experience_from, :class => "fl", :style => "width: 180px;"%>
           </div>
          <div class="fr">
            ПО
            <%= f.text_field :experience_to, :style => "width: 180px;"%>
           </div>
          <div class="clr"></div>
        </div>

        <div class="sub_info_row">
          ДОЛЖНОСТЬ
          <%= f.text_field :experience_position, :style => "width:280px;"  %>
          <button>ДОБАВИТЬ</button>
          <div class="clr"></div>
        </div>
      </div>
      <div class="clr"></div>
    </div>

    <div class="sep"></div>

    <div class="info_row">
      <span>ОПИСАНИЕ СЕБЯ</span>
      <div class="input_field">
        <%= f.text_area :description, :as => :text  %>
      </div>
      <div class="clr"></div>
    </div>

    <div class="sep"></div>
    <div class="tv_sizeBig">
      <span>ПОДПИСАТЬСЯ НА РАССЫЛКУ ПО ИНТЕРЕСУЮЩИМ МЕНЯ СФЕРАМ</span>
      <%= f.check_box :delivery_email_enable, :as => :boolean  %>
      <div class="clr"></div>
    </div>

    <div class="info_row">
      <div class="sub_info_row">
        <span></span>
        E-MAIL
        <%= f.text_field :delivery_email, :style => "width:375px;" %>
      </div>
    </div>
    <div class="clr"></div>

    <div class="sep"></div>
    <div class="tv_sizeBig">
      <span>ПОДПИСАТЬСЯ НА SMS-РАССЫЛКУ</span>
      <%= f.check_box :delivery_phone_enable, :as => :boolean %>
      <div class="clr"></div>
    </div>

    <span>ВАШ МОБИЛЬНЫЙ ТЕЛЕФОН</span>
    <%= f.text_field :delivery_phone, :style => "width:375px;" %>
    <div class="clr"></div>
    <div class="sep"></div>
    <div class="info_row">
      <span><%= link_to "СМЕНИТЬ ПАРОЛЬ", '#', :class=> "edit"%></span>      
      <div id='change_password' style="display:none;">
        <%= render 'devise/registrations/edit'%>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
    <div class="info_row">
      <button>СОХРАНИТЬ</button>
    </div>
  </div>
  <%end%>
</div>
<script>  
  $(document).ready( function (){ 
    
    $('.edit').on('click', function(event){
      event.preventDefault();
      if($('#change_password').is(":hidden")){
        $('#change_password').slideDown();
      }
      else{
        $('#change_password').slideUp();
      }      
    });
    $('#update_password').on('click', function(e){
      $('#change_password').slideUp();      
      var user_id = $('#user_id').val(),
          user = $('#change_password #user_email, #change_password #user_password_confirmation, #change_password #user_password, #change_password #user_current_password').serialize();
      $.ajax({ url: "/users/"+user_id,   type: "PUT", data: user,  beforeSend:function(jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                }
      });
    e.preventDefault();
    });     
  });
</script>
