<h1>Список всех резюме</h1>

<table>
  <tr>
    <th>Имя</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resumes.each do |resume| %>
  <tr>
    <td><%= resume.name %></td>
    <td><%= link_to 'Показать', resume %></td>
    <td><%= link_to 'Редактировать', edit_resume_path(resume) %></td>
    <td><%= link_to 'Удалить', resume, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новое резюме', new_resume_path %>
