<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />

  <!-- <meta property="og:type" content="article">
<meta property="og:url" content="{page_url}">
<meta property="og:title" content="{title}">
<meta property="og:description" content="{description}">
<meta property="og:image" content="{image_url}"> -->

  <% cookies.delete :month unless cookies[:month].nil?%>
  <title><%=title%></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

  <!--<script type="text/javascript" src="//vk.com/js/api/openapi.js?74"></script>-->

  <script type="text/javascript">
      VK.init({apiId: 3272966, onlyWidgets: true});
  </script>
  <script type="text/javascript">
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>
  <!--[if IE]!><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--!>

  <script src="http://maps.googleapis.com/maps/api/js?sensor=true" type="text/javascript"></script>

</head>

<body>

<div class="bbg"></div>

<div id="wrapper">

<%= render 'layouts/header' %>

<%= yield %><!--content-->

</div>

<div id="footerWrap">

  <footer>

    <p class="footcont">Этот сайт посвящен Центру Карьеры – центру, который организует всевозможные мероприятия для поиска работы и стажировки в ведущих компаниях города Петербурга, Москвы и других городах России, различные семинары и тренинги для успешной карьеры в любой сфере.</p>

    <div class="clr"></div>

  </footer>

  <div class="footdown">

    <div class="footdownwrap">

      <ul>
        <% Page.visible.each do |page| %>
            <li>
            <%= link_to page.title, page %>
            </li>
        <% end %>
      </ul>

    </div>

  </div>

</div>

</body>

</html>