<!DOCTYPE html>
<html>
<head>
  <title>TestMongoid</title>
  <%= stylesheet_link_tag    "application.css" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <%= javascript_include_tag "application.js" %>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div id="container">
      <div id="content-wrap">
        <div id="content_top">
          <div class="login">
            <% if current_user %>
              <div class="text-to-right">
                <% if current_user.role?(:admin) %>
                  <%= link_to current_user.role.try(:name), edit_user_registration_path %> |
                  <%= link_to "сферы", areas_path %> 
                  <%= link_to "events", activities_events_path%>
                  <div class="vline">|</div>
                <% end %>  
                  
                <%= link_to "МОЙ КАЛЕНДАРЬ", "#" %>
                <div class="vline">|</div>
                <% unless current_user.role.try(:name)=='employer' %>
                  <% if current_user.resume %>
                    <%= link_to "ЛИЧНАЯ ИНФОРМАЦИЯ", current_user %>
                  <% else %>
                    <%= link_to "ЛИЧНАЯ ИНФОРМАЦИЯ", new_resume_path %>
                  <% end %>
                <% end %>
                <div class="vline">|</div>
                <%= link_to "ВЫХОД", destroy_user_session_path, :method => :delete %>
              </div>
            <% else %>
              <div id="login"><%= link_to "ВОЙТИ", new_user_session_path, :id => "test"%></div>
              <div id="login-form"></div>
            <% end %>
          </div>

          <div class="header">
            <%= link_to root_path do %>
              <div class="logo"> </div>
            <% end %>
            <div class="social">
            </div>

            <div class="create_links">
              <div class="cr create_training"><%= link_to "СТАЖИРОВКУ", new_training_path %></div>
              <div class="cr create_event"><%= link_to "СОБЫТИЕ", new_event_path %></div>
              <div class="cr create_grant"><%= link_to "ГРАНТ", new_grant_path %></div>
            </div>


            <div class="buttons">
              <div class="reg-buttons"  >
                <div class="person-button rselected">
                  молодой специалист
                </div>
                <div class="comp-button ">
                  компания
                </div>
              </div>  
              <div class="registration">
                РЕГИСТРАЦИЯ
              </div>

              <div class="add">
                ДОБАВИТЬ
              </div>
            </div>
          </div>

        </div>

        <div id="content-body">
          
          <%= yield %>
        </div>

        <div id="content-footer">
          <div class="about">
            <p> Этот сайт посвящен Центру Карьеры – центру, который организует всевозможные мероприятия для поиска работы и стажировки в ведущих компаниях города 
            Петербурга, Москвы и других городах России, различные семинары и тренинги для успешной карьеры в любой сфере.</p>
          </div>
        </div>
        <div id="footer-links" class="top-border">
              <div class="for_space"></div>
              <% Page.all.each do |p| %>
                <div class="link right-border">
                  <%= link_to p.title, p %>
                </div>
              <% end %>
              
              <div class="link6">
                <% if current_user.role?(:admin) %>
                  <%= link_to "Редактирование страниц", pages_path %>
                <% end %>
              </div>
              
        </div>

        <div id="overlay"></div>
      </div>  
      <div id="popup-wrap"><div class="popup-top"></div><div class="popup-content"></div><div class="for_clear"></div></div>
    </div>
  </body>
</html>
